[[extend 'layout.html']]



<div id="vue">

  <table class="table">
    <tr style="background:#e1e1e1">
      <th colspan="2" class="is-info">Complete Example Apps</th>      
    </tr>
    <tr>
      <td colspan="2">
	<a href="https://github.com/web2py/py4web/tree/master/apps/todo">Start with a Todo app</a><br/>    
	<a href="https://github.com/web2py/py4web/tree/master/apps/fadebook">A minimalist Facebook clone</a><br/>
	<a href="https://github.com/web2py/py4web/tree/master/apps/tagged_posts">A minimalist Twitter clone</a><br/>
	<a href="https://github.com/ali96343/facep4w">More third party contributed apps...</a>
      </td>
    </tr>
    <tr style="background:#e1e1e1">
      <th colspan="2" class="is-info">Simple Serverside Examples</th>      
    </tr>
    <tr>
      <td>A normal page without template</td>
      <td><a role="button" href="[[=URL('show/examples/page_without_template')]]">example</a></td>
    </tr>
    <tr>
      <td>A normal page with template</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_template')]]">example</a></td>
    </tr>
    <tr>
      <td>A page causing an internal error</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_error')]]">example</a></td>
    </tr>
    <tr>
      <td>Page which raises HTTP</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_raise')]]">example</a></td>
    </tr>
    <tr>
      <td>Page with a redirect</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_redirect')]]">example</a></td>
    </tr>
    <tr>
      <td>Page with parameters</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_parameters')]]">example</a></td>
    </tr>
    <tr>
      <td>Page with query string</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_query')]]">example</a></td>
    </tr>
    <tr>
      <td>Page with a postback</td>
      <td><a role="button" href="[[=URL('show/examples/page_with_postback')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Fixtures: Flash</th>
    </tr>
    <tr>
      <td>A page with a flash (clientside only)</td>
      <td><a role="button" href="[[=URL('show/examples/flash_example_naive')]]">example</a></td>
    </tr>
    <tr>
      <td>A page with a flash (with redirect and fixture)</td>
      <td><a role="button" href="[[=URL('show/examples/flash_example_fixture')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Fixtures: Session</th>
    </tr>
    <tr>
      <td>A page with a counter</td>
      <td><a role="button" href="[[=URL('show/examples/session_counter')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Helpers</th>
    </tr>
    <tr>
      <td>A page using yatl helpers</td>
      <td><a role="button" href="[[=URL('show/examples/example_helpers')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Services</th>
    </tr>
    <tr>
      <td>Generic REST API</td>
      <td><a role="button" href="[[=URL('show/examples/rest')]]">example</a></td>
    </tr>
    <tr>
      <td>Json RPC Client/Server</td>
      <td><a role="button" href="[[=URL('show/examples/rpc')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Internationalization and Pluralization</th>
    </tr>
    <tr>
      <td>A page using internationalization (try set browser to italian)</td>
      <td><a role="button" href="[[=URL('show/examples/hello')]]">example</a></td>
    </tr>
    <tr>
      <td>A page using pluralization (try set browser to italian)</td>
      <td><a role="button" href="[[=URL('show/examples/count')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Components</th>
    </tr>
    <tr>
      <td>A page embedding a py4web component via ajax (no Vue)</td>
      <td><a role="button" href="[[=URL('show/examples/component_loader')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Forms</th>
    </tr>
    <tr>
      <td>A page with a create form</td>
      <td><a role="button" href="[[=URL('show/examples/create_form')]]">example</a></td>
    </tr>
    <tr>
      <td>A page with an update form</td>
      <td><a role="button" href="[[=URL('show/examples/update_form/1')]]">example</a></td>
    </tr>
    <tr>
      <td>A page with mutiple forms</td>
      <td><a role="button" href="[[=URL('show/examples/example_multiple_forms')]]">example</a></td>
    </tr>
    <tr>
      <td>A page with a custom styled form</td>
      <td><a role="button" href="[[=URL('show/examples/custom_form')]]">example</a></td>
    </tr>
    <tr>
      <td>A form with tags_input widget</td>
      <td><a role="button" href="[[=URL('show/examples/tagsinput_form')]]">example</a></td>
    </tr>
    <tr>
      <td>A page with form using hCaptcha</td>
      <td><a role="button" href="[[=URL('show/examples/hcaptcha_form')]]">example</a></td>
    </tr>
    <tr>
    <tr>
      <th colspan="2" class="is-info">Grid (no vue.js)</th>
    </tr>
    <tr>
      <td>A page with an serverside pure html grid</td>
      <td><a role="button" href="[[=URL('show/examples/example_html_grid')]]">example</a></td>
    </tr>
    <tr>
      <th colspan="2" class="is-info">Grid (requires Vue.js)</th>
    </tr>
    <tr>
      <td>A page with an ajax powered grid</td>
      <td><a role="button" href="[[=URL('show/examples/example_ajax_grid')]]">example</a></td>
    </tr>
    <tr>
      <td>A page embedding multiple auth forms</td>
      <td><a role="button" href="[[=URL('show/examples/auth_forms')]]">example</a></td>
    </tr>
    <tr style="background: #e1e1e1">
      <th colspan="2" class="is-info">Examples of custom Vue components (advanced)</th>      
    </tr>
    <tr>
      <td>Sample Vue.js client-side grid.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_grid')]]">example</a></td>
    </tr>
    <tr>
      <td>Javascript file uploader.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_file_uploader')]]">example</a></td>
    </tr>
    <tr>
      <td>Insertion form in Vue.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_insert_form')]]">example</a></td>
    </tr>
    <tr>
      <td>Update form in Vue.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_edit_form/1')]]">example</a></td>
    </tr>
    <tr>
      <td>View form in Vue.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_view_form/1')]]">example</a></td>
    </tr>
    <tr>
      <td>Grid + Forms in Vue.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_grid_and_forms')]]">example</a></td>
    </tr>
    <tr>
      <td>Star rating component in Vue; example of component instantiation from Vue.</td>
      <td><a role="button" href="[[=URL('show/vue_components_examples/vue_star_rater')]]">example</a></td>
    </tr>
    <tr style="background: #e1e1e1">
      <th colspan="2" class="is-info">Websockets Examples</th>      
    </tr>
    <tr>
      <td>A page using websockets</td>
      <td><a role="button" href="[[=URL('show/examples/ws')]]">ws</a></td>
    </tr>
    <tr>
      <td>A page using websockets with socketio</td>
      <td><a role="button" href="[[=URL('show/examples/socketio')]]">socketio</a></td>
    </tr>
  </table>
</div>
