.*
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
./deposit
./benchmark
./build
./dist
./ssl
./docs
./logs
./*.zip
apps/*
!apps/todo
!apps/todo/*
!apps/examples
!apps/examples/*
!apps/_dashboard
!apps/_dashboard/*
!apps/_scaffold
!apps/_scaffold/*
!apps/_minimal
!apps/_minimal/*
!apps/_default
!apps/_default/*
!apps/_documentation/*
!apps/superheroes
!apps/superheroes/*
!apps/*/databases/README*
apps/*/databases/*
apps/*/uploads/*
apps/*/*.py[oc]
packages/
logs/
