.*
*.py[co]
*~
\#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
./deposit
./benchmark
./build
./dist
./ssl
./docs
./logs
./*.zip
apps/_documentation/static/*/*.pdf
apps/_documentation/static/*/*.epub
apps/*
!apps/todo/*
!apps/examples/*
!apps/_dashboard/*
!apps/_scaffold/*
!apps/_minimal/*
!apps/_websocket/*
!apps/_default/*
!apps/_documentation/*
!apps/superheroes/*
!apps/myfeed/*
apps/*/databases/*
apps/*/uploads/*
**/*.py[co]
packages/
logs/
password.txt
deployment_tools/gae/lib
deployment_tools/gae/apps
deployment_tools/gae/requirements.txt
py4web/assets
workspace.code-workspace
venv