.*
*.py[co]
*~
\#*
*.1
*.bak
*.bak2
.envrc
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
./deposit
./benchmark
./build
./dist
./ssl
./logs
./*.zip
docs/_build
requirements.txt
apps/_documentation/static/*/*.pdf
apps/_documentation/static/*/*.epub
apps*/*/*
!apps/todo/*
!apps/showcase/*
!apps/_dashboard/*
!apps/_scaffold/*
!apps/_minimal/*
!apps/_websocket/*
!apps/_default/*
!apps/_documentation/*
!apps/superheroes/*
!apps/fadebook/*
apps/*/databases/*
apps/*/uploads/*
**/*.py[co]
packages/
logs/
password.txt
deployment_tools/gae/lib
deployment_tools/gae/apps
deployment_tools/gae/requirements.txt
py4web/assets
pyproject.toml
poetry.lock
workspace.code-workspace
venv
py4web.egg-info/
build/
tmp/
