bottle >= 0.12
click
tornado
gunicorn
gevent<=1.4.0
requests
threadsafevariable
pyjwt >= 1.7.1
pluralize >= 0.1.5
yatl >= 20200430.1
pydal >= 20200524.3
python-memcached # used for testing or for optionally actually accessing memcache
watchgod >= 0.6
