bottle >= 0.12
click
colorama
cryptography
gevent
gevent-websocket
gunicorn
pluralize >= 0.1.6
pydal >= 20200910.1
pyjwt >= 2.0.1
python-memcached # used for testing or for optionally actually accessing memcache
renoir >= 1.4.0
requests
threadsafevariable >= 1.1
tornado
watchgod >= 0.6

### for documentation only ###
# use also docs/requirements.txt
