<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="[[=URL('static/css/bulma.css')]]">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    [[block page_head]]<!-- individual page can customize head here -->[[end]]
  </head>
  <body>    
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href=".">
          <strong>APP LOGO</strong>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left-navbar"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="left-navbar" class="navbar-menu">
        <div class="navbar-start">          
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>          
          [[block page_menu_items]]<!-- individual page can add menu items here -->[[end]]
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">Sign up</a>
              <a class="button is-light">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">PAGE TILE</h1>
      </div>
    </section>
    <section class="section">
      <!-- begin of HTML inserted by extending template -->
      [[include]]
      <!-- end of HTML inserted by extending template -->
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        Made with web3py
      </div>
    </footer>
  </body>
  <script src="[[=URL('static/js/sugar.min.js')]]"></script>
  <script src="[[=URL('static/js/axios.min.js')]]"></script>
  <script src="[[=URL('static/js/vue.min.js')]]"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
