<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>    
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href=".">
          <strong>APP LOGO</strong>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left-navbar"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="left-navbar" class="navbar-menu">
        <div class="navbar-start">       
          <a class="navbar-item" href="[[=URL('index')]]">Home</a>
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              <a class="button is-primary" href="[[=URL('auth/logout')]]">Sign out</a>
              [[else:]]
              <a class="button is-primary" href="[[=URL('auth/register')]]">Sign up</a>
              <a class="button is-light" href="[[=URL('auth/login')]]">Sign in</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">PAGE TITLE</h1>
      </div>
    </section>
    <section class="section">
      <!-- beginning of HTML inserted by extending template -->
      [[include]]
      <!-- end of HTML inserted by extending template -->
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        Made with py4web
      </div>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
