[[extend 'layout.html']]

<h2 class="title">Form Superhero Identity (Custom) </h2>
[[= form.custom.begin ]]
  <div class="columns is-bordered">
    <div class="column">
      <label>Name:</label>
      [[= form.custom.widgets['name'] ]]
      <span style="color:#ff0000">[[= form.custom.errors.get('name', '') ]]</span>
    </div>
    <div class="column">
      <label>Job:</label>
      [[= form.custom.widgets['job'] ]]
      <span style="color:#ff0000">[[= form.custom.errors.get('job', '')]]</span>
    </div>
    <div class="column">
      <div class="buttons is-centered">
        [[ form.custom.submit['_class'] = 'button is-info is-large' ]]
        [[= form.custom.submit ]]
      </div>
    </div>
  </div>
[[= form.custom.end ]]


<h2 class="title">Rows</h2>

<ul>
  [[for row in rows:]]
  <li>[[=row.id]]: [[=row.name]] ([[=row.job]])</li>
  [[pass]]
</ul>
