<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/[[=request.app_name]]/static/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Sample TODO App</h1>
      </div>
    </section>
    [[include]]
    <footer class="footer">
      <div class="content has-text-centered">
        I was made with web3py (prototype, vue.js, and bulma.css)
      </div>
    </footer>
  </body>
  <script src="/[[=request.app_name]]/static/js/sugar.min.js"></script> 
  <script src="/[[=request.app_name]]/static/js/axios.min.js"></script> 
  <script src="/[[=request.app_name]]/static/js/vue.min.js"></script> 
  <script src="/[[=request.app_name]]/static/js/todo.js"></script> 
</html>
