<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 28.04.2021 08:47:38 py4web app, ported by AI-biorex, tidylib_check = True -->
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <title>biorex title text</title>
  <!-- Bootstrap CSS -->
  <link href="[%[=URL('static/tte/assets/vendor/bootstrap/css/bootstrap.min.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/vendor/fonts/circular-std/style.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/libs/css/style.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/vendor/fonts/fontawesome/css/fontawesome-all.css') ]]" rel="stylesheet"/>
 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"  async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

   <!-- disable google analytics -->
   <script>window['ga-disable-UA-119386393-1'] = true;</script>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body>
  <!-- ============================================================== -->
  <!-- main wrapper -->
  <!-- ============================================================== -->
  <div class="dashboard-main-wrapper p-0">
   <!-- ============================================================== -->
   <!-- navbar -->
   <!-- ============================================================== -->
   <nav class="navbar navbar-expand dashboard-top-header bg-white">
    <div class="container-fluid">
     <!-- ============================================================== -->
     <!-- brand logo -->
     <!-- ============================================================== -->
     <div class="dashboard-nav-brand">
      <a class="dashboard-logo" href="[%[=URL('index') ]]">Concept</a>
     </div>
     <!-- ============================================================== -->
     <!-- end brand logo -->
     <!-- ============================================================== -->
    </div>
   </nav>
   <!-- ============================================================== -->
   <!-- end navbar -->
   <!-- ============================================================== -->
   <!-- ============================================================== -->
   <!-- wrapper  -->
   <!-- ============================================================== -->
   <div class="bg-light text-center">
    <div class="container">
     <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
       <div class="error-section">
        <img alt="" class="img-fluid" src="[%[=URL('static/tte/assets/images/error-img.png') ]]"/>
        <div class="error-section-content">
         <h1 class="display-3">Page Not Found</h1>
         <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
         <a class="btn btn-secondary btn-lg" href="[%[=URL('index') ]]">Back to homepage</a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="bg-white p-3">
     <div class="container-fluid">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-dark text-center">
        Copyright © 2018 Concept. All rights reserved. Dashboard by
        <a href="https://colorlib.com/wp/">Colorlib</a>
        .
       </div>
      </div>
     </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
   </div>
  </div>
  <!-- ============================================================== -->
  <!-- end main wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- end main wrapper -->
  <!-- ============================================================== -->
  <!-- Optional JavaScript -->
  <script src="[%[=URL('static/tte/assets/vendor/jquery/jquery-3.3.1.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/bootstrap/js/bootstrap.bundle.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/slimscroll/jquery.slimscroll.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/libs/js/main-js.js') ]]"></script>
 </body>
</html>