<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
 <head>
            <!-- 28.04.2021 08:47:42 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta content="4KqxXLPDRgArLiUh4ZFZ0BLFW6n7QN0jibkjD7lBNMg" name="google-site-verification"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="http://gmpg.org/xfn/11" rel="profile"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800" rel="stylesheet"/>
  <title>biorex title text</title>
  <!-- This site is optimized with the Yoast SEO plugin v7.9 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta content="noindex,follow" name="robots"/>
  <meta content="en_US" property="og:locale"/>
  <meta content="object" property="og:type"/>
  <meta content="Page not found - Jitu Chauhan" property="og:title"/>
  <meta content="Jitu Chauhan" property="og:site_name"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="Page not found - Jitu Chauhan" name="twitter:title"/>
  <script type="application/ld+json">{
    "@context": "https:\/\/schema.org",
    "@type": "Person",
    "url": "https:\/\/jituchauhan.com\/",
    "sameAs": [],
    "@id": "#person",
    "name": "Jitu Chauhan"
}</script>
  <script type="application/ld+json">{
    "@context": "https:\/\/schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "https:\/\/jituchauhan.com\/",
            "name": "Home"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": null,
            "name": "Error 404: Page not found"
        }
    }]
}</script>
  <!-- / Yoast SEO plugin. -->
  <link href="//maxcdn.bootstrapcdn.com" rel="dns-prefetch"/>
  <link href="//s.w.org" rel="dns-prefetch"/>
  <link href="https://jituchauhan.com/feed/" rel="alternate" title="Jitu Chauhan » Feed" type="application/rss+xml"/>
  <link href="https://jituchauhan.com/comments/feed/" rel="alternate" title="Jitu Chauhan » Comments Feed" type="application/rss+xml"/>
  <script type="text/javascript">
   window._wpemojiSettings = {
    "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
    "ext": ".png",
    "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
    "svgExt": ".svg",
    "source": {
        "concatemoji": "https:\/\/jituchauhan.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"
    }
};
! function(a, b, c) {
    function d(a, b) {
        var c = String.fromCharCode;
        l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
        var d = k.toDataURL();
        l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
        var e = k.toDataURL();
        return d === e
    }

    function e(a) {
        var b;
        if (!l || !l.fillText) return !1;
        switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
            case "flag":
                return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
            case "emoji":
                return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
        }
        return !1
    }

    function f(a) {
        var c = b.createElement("script");
        c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
    }
    var g, h, i, j, k = b.createElement("canvas"),
        l = k.getContext && k.getContext("2d");
    for (j = Array("flag", "emoji"), c.supports = {
            everything: !0,
            everythingExceptFlag: !0
        }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
    c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
        c.DOMReady = !0
    }, c.supports.everything || (h = function() {
        c.readyCallback()
    }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
        "complete" === b.readyState && c.readyCallback()
    })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
}(window, document, window._wpemojiSettings);
  </script>
  <style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
  </style>
  <link href="https://jituchauhan.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.3" id="contact-form-7-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://jituchauhan.com/wp-content/themes/jituchauhan/css/bootstrap.min.css?ver=3.3.7" id="bootstrap-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://jituchauhan.com/wp-content/themes/jituchauhan/style.css?ver=4.9.8" id="jituchauhan-style-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.9.8" id="wpb-fa-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://jituchauhan.com/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.14" id="addtoany-css" media="all" rel="stylesheet" type="text/css"/>
  <style id="addtoany-inline-css" type="text/css">
@media screen and (min-width:981px) {
    .a2a_floating_style.a2a_default_style {
        display: none;
    }
}
  </style>
  <script src="https://jituchauhan.com/wp-includes/js/jquery/jquery.js?ver=1.12.4" type="text/javascript"></script>
  <script src="https://jituchauhan.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1" type="text/javascript"></script>
  <script src="https://jituchauhan.com/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.0" type="text/javascript"></script>
  <link href="https://jituchauhan.com/wp-json/" rel="https://api.w.org/"/>
  <link href="https://jituchauhan.com/xmlrpc.php?rsd" rel="EditURI" title="RSD" type="application/rsd+xml"/>
  <link href="https://jituchauhan.com/wp-includes/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml"/>
  <meta content="WordPress 4.9.8" name="generator"/>
  <script data-cfasync="false">window.a2a_config = window.a2a_config || {};
a2a_config.callbacks = [];
a2a_config.overlays = [];
a2a_config.templates = {};
a2a_config.icon_color = "unset,#ffffff";
(function(d, s, a, b) {
    a = d.createElement(s);
    b = d.getElementsByTagName(s)[0];
    a.async = 1;
    a.src = "https://static.addtoany.com/menu/page.js";
    b.parentNode.insertBefore(a, b);
})(document, "script");</script>
  <script>
   (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-92805225-1', 'auto');
ga('send', 'pageview');
  </script>
  <link href="http://jituchauhan.com/wp-content/plugins/template-help-featured-templates/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="http://jituchauhan.com/wp-content/plugins/template-help-featured-templates/css/preview.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   function html_entity_decode(str) {
    var ta = document.createElement("textarea");
    ta.innerHTML = str.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    toReturn = ta.value;
    ta = null;
    return toReturn
}
  </script>
  <link href="https://jituchauhan.com/wp-content/uploads/2017/07/cropped-jituchauhan-32x32.png" rel="icon" sizes="32x32"/>
  <link href="https://jituchauhan.com/wp-content/uploads/2017/07/cropped-jituchauhan-192x192.png" rel="icon" sizes="192x192"/>
  <link href="https://jituchauhan.com/wp-content/uploads/2017/07/cropped-jituchauhan-180x180.png" rel="apple-touch-icon-precomposed"/>
  <meta content="https://jituchauhan.com/wp-content/uploads/2017/07/cropped-jituchauhan-270x270.png" name="msapplication-TileImage"/>
  <!-- Google AdSense Ad --->
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2256645353903872",
    enable_page_level_ads: true
});
  </script>
 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"  async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

   <!-- disable google analytics -->
   <script>window['ga-disable-UA-119386393-1'] = true;</script>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body class="error404 wp-custom-logo hfeed">
  <div class="site" id="page">
   <div class="header">
    <div class="container">
     <div class="row">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      <header class="site-header" id="masthead" role="banner">
       <div class="col-md-4">
        <div class="site-branding">
         <h1 class="site-title">
          <a href="https://jituchauhan.com/" rel="home">Jitu Chauhan</a>
         </h1>
        </div>
        <!-- .site-branding -->
       </div>
       <div class="col-md-8">
        <nav class="main-navigation" id="site-navigation" role="navigation">
         <button aria-controls="primary-menu" aria-expanded="false" class="menu-toggle">Primary Menu</button>
         <div class="menu-primary-menu-container">
          <ul class="menu" id="primary-menu">
           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7" id="menu-item-7">
            <a href="https://jituchauhan.com/about-me/">About Me</a>
           </li>
           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403" id="menu-item-403">
            <a href="https://jituchauhan.com/blog/">Blog</a>
           </li>
           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176" id="menu-item-176">
            <a href="https://jituchauhan.com/contact-me/">Contact Me</a>
           </li>
           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359" id="menu-item-359">
            <a href="https://jituchauhan.com/privacy-policy/">Privacy Policy</a>
           </li>
          </ul>
         </div>
        </nav>
        <!-- #site-navigation -->
       </div>
      </header>
      <!-- #masthead -->
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <p class="breadcrumbs" id="breadcrumbs">
       <span>
        <strong class="breadcrumb_last">Error 404: Page not found</strong>
       </span>
      </p>
     </div>
    </div>
   </div>
   <div class="wrapper">
    <div class="container">
     <div class="site-content" id="content">
      <div class="row">
       <div class="content-area" id="primary">
        <main class="site-main" id="main" role="main">
         <section class="error-404 not-found">
          <header class="page-header">
           <h1 class="page-title">Oops! That page can t be found.</h1>
          </header>
          <!-- .page-header -->
          <div class="page-content">
           <p>It looks like nothing was found at this location. Maybe try one of the links below or a search?</p>
           
<!-- BEGIN view: fmorrisjs0, db_table: dfmorrisjs0 -->
<div class="search-form" role="search">
[%[= fmorrisjs0.custom['begin'] ]]
<label>
 <span class="screen-reader-text">
  Search for:
 </span>
 [%[ fmorrisjs0.custom['widgets']['f0']['_class']= 'search-field'  ]]
 [%[ fmorrisjs0.custom['widgets']['f0']['_placeholder']= 'Search'  ]]
 [%[ fmorrisjs0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fmorrisjs0.custom['widgets']['f0']['_value']= '==0'  ]]
 [%[= fmorrisjs0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs0.custom['errors']['f0'] if 'f0' in fmorrisjs0.custom['errors'] else '' ]]</span>

</label>

 [%[ fmorrisjs0.custom['submit']['_class']= 'search-submit'  ]]
 [%[ fmorrisjs0.custom['submit']['_type']= 'submit'  ]]
 [%[ fmorrisjs0.custom['submit']['_value']= 'Submit'  ]]
 [%[ fmorrisjs0.custom['submit']['_placeholder']= ''  ]]
 [%[ fmorrisjs0.custom['submit']['_style']= 'text-decoration: underline; font-weight: bold;'  ]]
 [%[ fmorrisjs0.custom['submit']['_title']= 'form submit'  ]]
 [%[= fmorrisjs0.custom['submit'] ]]


 [%[ for hidden_widget in fmorrisjs0.custom['hidden_widgets'].keys(): ]]
     [%[= fmorrisjs0.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fmorrisjs0</span></div>


[%[= fmorrisjs0.custom['end'] ]]
</div>
<!-- END fmorrisjs0-->

           <div class="widget widget_recent_entries">
            <h2 class="widgettitle">Recent Posts</h2>
            <ul>
             <li>
              <a href="https://jituchauhan.com/law-bootstrap-website-templates-free-download/">Law Bootstrap Website Templates Free Download</a>
             </li>
             <li>
              <a href="https://jituchauhan.com/digital-marketing-seo-website-template/">Digital Marketing SEO Website Template</a>
             </li>
             <li>
              <a href="https://jituchauhan.com/10-best-architecture-interior-design-wordpress-theme/">10+ Best Architecture Interior Design WordPress Theme</a>
             </li>
             <li>
              <a href="https://jituchauhan.com/10-best-medical-health-care-website-template/">10 + Best Medical &amp; Health Care Website Template</a>
             </li>
             <li>
              <a href="https://jituchauhan.com/10-youtube-channel-that-useful-to-beginner-for-wordpress-theme-development-tutorial/">10+ Youtube Channel That Useful to Beginner for WordPress Theme Development Tutorial</a>
             </li>
            </ul>
           </div>
           <div class="widget widget_categories">
            <h2 class="widget-title">Most Used Categories</h2>
            <ul>
             <li class="cat-item cat-item-3">
              <a href="https://jituchauhan.com/category/wordpress-theme/" title="Premium WordPress Theme">Wordpress Theme</a>
              (3)
             </li>
             <li class="cat-item cat-item-22">
              <a href="https://jituchauhan.com/category/website-template/">Website Template</a>
              (3)
             </li>
             <li class="cat-item cat-item-48">
              <a href="https://jituchauhan.com/category/freebies/" title="Start your website easily with free bootstrap website templates.">Freebies</a>
              (2)
             </li>
             <li class="cat-item cat-item-13">
              <a href="https://jituchauhan.com/category/wordpress-tutorial/" title="Helpful Links for WordPress Beginner.">WordPress Tutorial</a>
              (1)
             </li>
            </ul>
           </div>
           <!-- .widget -->
           <div class="widget widget_archive">
            <h2 class="widgettitle">Archives</h2>
            <p>Try looking in the monthly archives.</p>
            <label class="screen-reader-text" for="archives-dropdown--1">
             Archives
            </label>
            <select id="archives-dropdown--1" name="archive-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
             <option value="">
              Select Month
             </option>
             <option value="https://jituchauhan.com/2017/07/">
              July 2017
             </option>
             <option value="https://jituchauhan.com/2017/05/">
              May 2017
             </option>
             <option value="https://jituchauhan.com/2017/03/">
              March 2017
             </option>
             <option value="https://jituchauhan.com/2017/02/">
              February 2017
             </option>
             <option value="https://jituchauhan.com/2017/01/">
              January 2017
             </option>
            </select>
           </div>
           <div class="widget widget_tag_cloud">
            <h2 class="widgettitle">Tags</h2>
            <div class="tagcloud">
             <a aria-label="Architectect (1 item)" class="tag-cloud-link tag-link-44 tag-link-position-1" href="https://jituchauhan.com/tag/architectect/" style="font-size: 8pt;">Architectect</a>
             <a aria-label="architecture (1 item)" class="tag-cloud-link tag-link-43 tag-link-position-2" href="https://jituchauhan.com/tag/architecture/" style="font-size: 8pt;">architecture</a>
             <a aria-label="attorney website templates (1 item)" class="tag-cloud-link tag-link-57 tag-link-position-3" href="https://jituchauhan.com/tag/attorney-website-templates/" style="font-size: 8pt;">attorney website templates</a>
             <a aria-label="beginner Wordpress theme development (1 item)" class="tag-cloud-link tag-link-20 tag-link-position-4" href="https://jituchauhan.com/tag/beginner-wordpress-theme-development/" style="font-size: 8pt;">beginner Wordpress theme development</a>
             <a aria-label="cardiology (1 item)" class="tag-cloud-link tag-link-40 tag-link-position-5" href="https://jituchauhan.com/tag/cardiology/" style="font-size: 8pt;">cardiology</a>
             <a aria-label="clinic (1 item)" class="tag-cloud-link tag-link-28 tag-link-position-6" href="https://jituchauhan.com/tag/clinic/" style="font-size: 8pt;">clinic</a>
             <a aria-label="commercial (1 item)" class="tag-cloud-link tag-link-47 tag-link-position-7" href="https://jituchauhan.com/tag/commercial/" style="font-size: 8pt;">commercial</a>
             <a aria-label="Dentist Clinic WordPress Theme (1 item)" class="tag-cloud-link tag-link-15 tag-link-position-8" href="https://jituchauhan.com/tag/dentist-clinic-wordpress-theme/" style="font-size: 8pt;">Dentist Clinic WordPress Theme</a>
             <a aria-label="Dentistry WordPress Theme (1 item)" class="tag-cloud-link tag-link-14 tag-link-position-9" href="https://jituchauhan.com/tag/dentistry-wordpress-theme/" style="font-size: 8pt;">Dentistry WordPress Theme</a>
             <a aria-label="dentists (1 item)" class="tag-cloud-link tag-link-41 tag-link-position-10" href="https://jituchauhan.com/tag/dentists/" style="font-size: 8pt;">dentists</a>
             <a aria-label="digital marketing (1 item)" class="tag-cloud-link tag-link-50 tag-link-position-11" href="https://jituchauhan.com/tag/digital-marketing/" style="font-size: 8pt;">digital marketing</a>
             <a aria-label="digital marketing templates (1 item)" class="tag-cloud-link tag-link-53 tag-link-position-12" href="https://jituchauhan.com/tag/digital-marketing-templates/" style="font-size: 8pt;">digital marketing templates</a>
             <a aria-label="doctor (1 item)" class="tag-cloud-link tag-link-30 tag-link-position-13" href="https://jituchauhan.com/tag/doctor/" style="font-size: 8pt;">doctor</a>
             <a aria-label="exterior design (1 item)" class="tag-cloud-link tag-link-46 tag-link-position-14" href="https://jituchauhan.com/tag/exterior-design/" style="font-size: 8pt;">exterior design</a>
             <a aria-label="Eye care (1 item)" class="tag-cloud-link tag-link-37 tag-link-position-15" href="https://jituchauhan.com/tag/eye-care/" style="font-size: 8pt;">Eye care</a>
             <a aria-label="freebies (1 item)" class="tag-cloud-link tag-link-52 tag-link-position-16" href="https://jituchauhan.com/tag/freebies/" style="font-size: 8pt;">freebies</a>
             <a aria-label="free website templates (1 item)" class="tag-cloud-link tag-link-51 tag-link-position-17" href="https://jituchauhan.com/tag/free-website-templates/" style="font-size: 8pt;">free website templates</a>
             <a aria-label="gynecology (1 item)" class="tag-cloud-link tag-link-38 tag-link-position-18" href="https://jituchauhan.com/tag/gynecology/" style="font-size: 8pt;">gynecology</a>
             <a aria-label="health care (1 item)" class="tag-cloud-link tag-link-35 tag-link-position-19" href="https://jituchauhan.com/tag/health-care/" style="font-size: 8pt;">health care</a>
             <a aria-label="hospital (1 item)" class="tag-cloud-link tag-link-29 tag-link-position-20" href="https://jituchauhan.com/tag/hospital/" style="font-size: 8pt;">hospital</a>
             <a aria-label="interior design (1 item)" class="tag-cloud-link tag-link-45 tag-link-position-21" href="https://jituchauhan.com/tag/interior-design/" style="font-size: 8pt;">interior design</a>
             <a aria-label="laboratory (1 item)" class="tag-cloud-link tag-link-36 tag-link-position-22" href="https://jituchauhan.com/tag/laboratory/" style="font-size: 8pt;">laboratory</a>
             <a aria-label="Law Templates (1 item)" class="tag-cloud-link tag-link-54 tag-link-position-23" href="https://jituchauhan.com/tag/law-templates/" style="font-size: 8pt;">Law Templates</a>
             <a aria-label="Lawyer Templates (1 item)" class="tag-cloud-link tag-link-56 tag-link-position-24" href="https://jituchauhan.com/tag/lawyer-templates/" style="font-size: 8pt;">Lawyer Templates</a>
             <a aria-label="Lawyer Website Templates (1 item)" class="tag-cloud-link tag-link-55 tag-link-position-25" href="https://jituchauhan.com/tag/lawyer-website-templates/" style="font-size: 8pt;">Lawyer Website Templates</a>
             <a aria-label="medical website (1 item)" class="tag-cloud-link tag-link-32 tag-link-position-26" href="https://jituchauhan.com/tag/medical-website/" style="font-size: 8pt;">medical website</a>
             <a aria-label="neurologist (1 item)" class="tag-cloud-link tag-link-39 tag-link-position-27" href="https://jituchauhan.com/tag/neurologist/" style="font-size: 8pt;">neurologist</a>
             <a aria-label="Orthodontist WordPress Theme (1 item)" class="tag-cloud-link tag-link-17 tag-link-position-28" href="https://jituchauhan.com/tag/orthodontist-wordpress-theme/" style="font-size: 8pt;">Orthodontist WordPress Theme</a>
             <a aria-label="psychologist (1 item)" class="tag-cloud-link tag-link-42 tag-link-position-29" href="https://jituchauhan.com/tag/psychologist/" style="font-size: 8pt;">psychologist</a>
             <a aria-label="seo website templates (1 item)" class="tag-cloud-link tag-link-49 tag-link-position-30" href="https://jituchauhan.com/tag/seo-website-templates/" style="font-size: 8pt;">seo website templates</a>
             <a aria-label="step by step theme development tutorial youtube channel (1 item)" class="tag-cloud-link tag-link-21 tag-link-position-31" href="https://jituchauhan.com/tag/step-by-step-theme-development-tutorial-youtube-channel/" style="font-size: 8pt;">step by step theme development tutorial youtube channel</a>
             <a aria-label="website template (1 item)" class="tag-cloud-link tag-link-34 tag-link-position-32" href="https://jituchauhan.com/tag/website-template/" style="font-size: 8pt;">website template</a>
             <a aria-label="wordpress 101 (1 item)" class="tag-cloud-link tag-link-19 tag-link-position-33" href="https://jituchauhan.com/tag/wordpress-101/" style="font-size: 8pt;">wordpress 101</a>
             <a aria-label="WordPress Theme Dentist Clinic (1 item)" class="tag-cloud-link tag-link-16 tag-link-position-34" href="https://jituchauhan.com/tag/wordpress-theme-dentist-clinic/" style="font-size: 8pt;">WordPress Theme Dentist Clinic</a>
             <a aria-label="wordPress theme development (1 item)" class="tag-cloud-link tag-link-18 tag-link-position-35" href="https://jituchauhan.com/tag/wordpress-theme-development/" style="font-size: 8pt;">wordPress theme development</a>
             <a aria-label="yoga blog (1 item)" class="tag-cloud-link tag-link-9 tag-link-position-36" href="https://jituchauhan.com/tag/yoga-blog/" style="font-size: 8pt;">yoga blog</a>
             <a aria-label="yoga fitness (1 item)" class="tag-cloud-link tag-link-11 tag-link-position-37" href="https://jituchauhan.com/tag/yoga-fitness/" style="font-size: 8pt;">yoga fitness</a>
             <a aria-label="yoga instructor (1 item)" class="tag-cloud-link tag-link-6 tag-link-position-38" href="https://jituchauhan.com/tag/yoga-instructor/" style="font-size: 8pt;">yoga instructor</a>
             <a aria-label="yoga responsive (1 item)" class="tag-cloud-link tag-link-5 tag-link-position-39" href="https://jituchauhan.com/tag/yoga-responsive/" style="font-size: 8pt;">yoga responsive</a>
             <a aria-label="yoga studio (1 item)" class="tag-cloud-link tag-link-7 tag-link-position-40" href="https://jituchauhan.com/tag/yoga-studio/" style="font-size: 8pt;">yoga studio</a>
             <a aria-label="yoga teacher (1 item)" class="tag-cloud-link tag-link-4 tag-link-position-41" href="https://jituchauhan.com/tag/yoga-teacher/" style="font-size: 8pt;">yoga teacher</a>
             <a aria-label="yoga theme (1 item)" class="tag-cloud-link tag-link-8 tag-link-position-42" href="https://jituchauhan.com/tag/yoga-theme/" style="font-size: 8pt;">yoga theme</a>
             <a aria-label="yoga website (1 item)" class="tag-cloud-link tag-link-10 tag-link-position-43" href="https://jituchauhan.com/tag/yoga-website/" style="font-size: 8pt;">yoga website</a>
            </div>
           </div>
          </div>
          <!-- .page-content -->
         </section>
         <!-- .error-404 -->
        </main>
        <!-- #main -->
       </div>
       <!-- #primary -->
      </div>
      <!-- #content -->
     </div>
     <!-- #page -->
    </div>
    <div class="footer">
     <div class="container">
      <div class="row">
       <div class="widget-container widget_text col-md-3" id="text-2">
        <h3 class="widget-title">About Me</h3>
        <div class="textwidget">
         <p>Welcome to jituchauhan.com a Blog that helps you to find more beautiful and creative design for your small and local business. Find the best WordPress theme from online theme market.</p>
        </div>
       </div>
       <div class="widget-container widget_pages col-md-3" id="pages-2">
        <h3 class="widget-title">Useful Link</h3>
        <ul>
         <li class="page_item page-item-5">
          <a href="https://jituchauhan.com/about-me/">About Me</a>
         </li>
         <li class="page_item page-item-222">
          <a href="https://jituchauhan.com/blog/">Blog</a>
         </li>
         <li class="page_item page-item-174">
          <a href="https://jituchauhan.com/contact-me/">Contact Me</a>
         </li>
         <li class="page_item page-item-361">
          <a href="https://jituchauhan.com/home/">Home</a>
         </li>
         <li class="page_item page-item-241">
          <a href="https://jituchauhan.com/privacy-policy/">Privacy Policy</a>
         </li>
        </ul>
       </div>
       <div class="widget-container widget_categories col-md-3" id="categories-3">
        <h3 class="widget-title">Category</h3>
        <ul>
         <li class="cat-item cat-item-48">
          <a href="https://jituchauhan.com/category/freebies/" title="Start your website easily with free bootstrap website templates.">Freebies</a>
         </li>
         <li class="cat-item cat-item-22">
          <a href="https://jituchauhan.com/category/website-template/">Website Template</a>
         </li>
         <li class="cat-item cat-item-3">
          <a href="https://jituchauhan.com/category/wordpress-theme/" title="Premium WordPress Theme">Wordpress Theme</a>
         </li>
         <li class="cat-item cat-item-13">
          <a href="https://jituchauhan.com/category/wordpress-tutorial/" title="Helpful Links for WordPress Beginner.">WordPress Tutorial</a>
         </li>
        </ul>
       </div>
       <div class="widget-container widget_mc4wp_form_widget col-md-3" id="mc4wp_form_widget-3">
        <h3 class="widget-title">Newsletter</h3>
        <script>
         (function() {
    if (!window.mc4wp) {
        window.mc4wp = {
            listeners: [],
            forms: {
                on: function(event, callback) {
                    window.mc4wp.listeners.push({
                        event: event,
                        callback: callback
                    });
                }
            }
        }
    }
})();
        </script>
        <!-- MailChimp for WordPress v4.2.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
        
<!-- BEGIN view: fmorrisjs1, db_table: dfmorrisjs1 -->
<div class="mc4wp-form mc4wp-form-277" data-id="277" data-name="Subscriber For Update" id="mc4wp-form-1">
[%[= fmorrisjs1.custom['begin'] ]]
<div class="mc4wp-form-fields">
 <p>
  <label>
  </label>
 [%[ fmorrisjs1.custom['widgets']['f0']['_placeholder']= 'Your email address'  ]]
 [%[ fmorrisjs1.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[= fmorrisjs1.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs1.custom['errors']['f0'] if 'f0' in fmorrisjs1.custom['errors'] else '' ]]</span>

 </p>
 <p>
 [%[ fmorrisjs1.custom['submit']['_type']= 'submit'  ]]
 [%[ fmorrisjs1.custom['submit']['_value']= 'Submit'  ]]
 [%[ fmorrisjs1.custom['submit']['_placeholder']= ''  ]]
 [%[ fmorrisjs1.custom['submit']['_style']= 'text-decoration: underline; font-weight: bold;'  ]]
 [%[ fmorrisjs1.custom['submit']['_title']= 'form submit'  ]]
 [%[= fmorrisjs1.custom['submit'] ]]

 </p>
</div>

<label style="display: none !important;">
 Leave this field empty if you're human:
 [%[ fmorrisjs1.custom['widgets']['f1']['_autocomplete']= 'off'  ]]
 [%[ fmorrisjs1.custom['widgets']['f1']['_tabindex']= '-1'  ]]
 [%[ fmorrisjs1.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[ fmorrisjs1.custom['widgets']['f1']['_value']= '==0'  ]]
 [%[ fmorrisjs1.custom['widgets']['f1']['_placeholder']= ''  ]]
 [%[= fmorrisjs1.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs1.custom['errors']['f1'] if 'f1' in fmorrisjs1.custom['errors'] else '' ]]</span>

</label>

 [%[ fmorrisjs1.custom['widgets']['f2']['_type']= 'text'  ]]
 [%[ fmorrisjs1.custom['widgets']['f2']['_value']= '1541623607'  ]]
 [%[ fmorrisjs1.custom['widgets']['f2']['_placeholder']= ''  ]]
 [%[= fmorrisjs1.custom['widgets']['f2'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs1.custom['errors']['f2'] if 'f2' in fmorrisjs1.custom['errors'] else '' ]]</span>


 [%[ fmorrisjs1.custom['widgets']['f3']['_type']= 'text'  ]]
 [%[ fmorrisjs1.custom['widgets']['f3']['_value']= '277'  ]]
 [%[ fmorrisjs1.custom['widgets']['f3']['_placeholder']= ''  ]]
 [%[= fmorrisjs1.custom['widgets']['f3'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs1.custom['errors']['f3'] if 'f3' in fmorrisjs1.custom['errors'] else '' ]]</span>


 [%[ fmorrisjs1.custom['widgets']['f4']['_type']= 'text'  ]]
 [%[ fmorrisjs1.custom['widgets']['f4']['_value']= 'mc4wp-form-1'  ]]
 [%[ fmorrisjs1.custom['widgets']['f4']['_placeholder']= ''  ]]
 [%[= fmorrisjs1.custom['widgets']['f4'] ]]

 <span style="color:#ff0000">[%[= fmorrisjs1.custom['errors']['f4'] if 'f4' in fmorrisjs1.custom['errors'] else '' ]]</span>


<div class="mc4wp-response">
</div>

 [%[ for hidden_widget in fmorrisjs1.custom['hidden_widgets'].keys(): ]]
     [%[= fmorrisjs1.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fmorrisjs1</span></div>


[%[= fmorrisjs1.custom['end'] ]]
</div>
<!-- END fmorrisjs1-->

        <!-- / MailChimp for WordPress Plugin -->
       </div>
      </div>
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <footer class="site-footer" id="colophon" role="contentinfo">
         <div class="site-info">
          <a href="https://wordpress.org/">Proudly powered by WordPress</a>
          <span class="sep">|</span>
          Theme: jituchauhan by
          <a class="" href="http://jituchauhan.com/" rel="designer">jituchauhan.com</a>
          .
         </div>
         <!-- .site-info -->
        </footer>
        <!-- #colophon -->
       </div>
      </div>
     </div>
    </div>
    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="bottom:0px;left:0px;background-color:transparent;">
     <a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fjituchauhan.com%2Finfluence%2Flandingpage%2Finfluence%2Fassets%2Fvendor%2Fcharts%2Fmorris-bundle%2Fmorrisjs.js&amp;linkname=Page%20not%20found%20-%20Jitu%20Chauhan" rel="nofollow noopener" target="_blank" title="Facebook"></a>
     <a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fjituchauhan.com%2Finfluence%2Flandingpage%2Finfluence%2Fassets%2Fvendor%2Fcharts%2Fmorris-bundle%2Fmorrisjs.js&amp;linkname=Page%20not%20found%20-%20Jitu%20Chauhan" rel="nofollow noopener" target="_blank" title="Twitter"></a>
     <a class="a2a_button_google_plus" href="https://www.addtoany.com/add_to/google_plus?linkurl=https%3A%2F%2Fjituchauhan.com%2Finfluence%2Flandingpage%2Finfluence%2Fassets%2Fvendor%2Fcharts%2Fmorris-bundle%2Fmorrisjs.js&amp;linkname=Page%20not%20found%20-%20Jitu%20Chauhan" rel="nofollow noopener" target="_blank" title="Google+"></a>
     <a class="a2a_button_pinterest" href="https://www.addtoany.com/add_to/pinterest?linkurl=https%3A%2F%2Fjituchauhan.com%2Finfluence%2Flandingpage%2Finfluence%2Fassets%2Fvendor%2Fcharts%2Fmorris-bundle%2Fmorrisjs.js&amp;linkname=Page%20not%20found%20-%20Jitu%20Chauhan" rel="nofollow noopener" target="_blank" title="Pinterest"></a>
     <a class="a2a_button_linkedin" href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2Fjituchauhan.com%2Finfluence%2Flandingpage%2Finfluence%2Fassets%2Fvendor%2Fcharts%2Fmorris-bundle%2Fmorrisjs.js&amp;linkname=Page%20not%20found%20-%20Jitu%20Chauhan" rel="nofollow noopener" target="_blank" title="LinkedIn"></a>
     <a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share"></a>
    </div>
    <script>
     (function() {
    function addEventListener(element, event, handler) {
        if (element.addEventListener) {
            element.addEventListener(event, handler, false);
        } else if (element.attachEvent) {
            element.attachEvent('on' + event, handler);
        }
    }

    function maybePrefixUrlField() {
        if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields && urlFields.length > 0) {
        for (var j = 0; j < urlFields.length; j++) {
            addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
        }
    } /* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if (testInput.type !== 'date') {

        /* add placeholder & pattern to all date fields */
        var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
        for (var i = 0; i < dateFields.length; i++) {
            if (!dateFields[i].placeholder) {
                dateFields[i].placeholder = 'YYYY-MM-DD';
            }
            if (!dateFields[i].pattern) {
                dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
            }
        }
    }

})();
    </script>
    <script type="text/javascript">
     /* <![CDATA[ */
var wpcf7 = {
    "apiSettings": {
        "root": "https:\/\/jituchauhan.com\/wp-json\/contact-form-7\/v1",
        "namespace": "contact-form-7\/v1"
    },
    "recaptcha": {
        "messages": {
            "empty": "Please verify that you are not a robot."
        }
    }
};
/* ]]> */
    </script>
    <script src="https://jituchauhan.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3" type="text/javascript"></script>
    <script src="https://jituchauhan.com/wp-content/themes/jituchauhan/js/bootstrap.min.js?ver=3.3.7" type="text/javascript"></script>
    <script src="https://jituchauhan.com/wp-content/themes/jituchauhan/js/navigation.js?ver=20151215" type="text/javascript"></script>
    <script src="https://jituchauhan.com/wp-content/themes/jituchauhan/js/skip-link-focus-fix.js?ver=20151215" type="text/javascript"></script>
    <script src="https://jituchauhan.com/wp-includes/js/wp-embed.min.js?ver=4.9.8" type="text/javascript"></script>
    <script type="text/javascript">
     /* <![CDATA[ */
var mc4wp_forms_config = [];
/* ]]> */
    </script>
    <script src="https://jituchauhan.com/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js?ver=4.2.4" type="text/javascript"></script>
    <!--[if lte IE 9]>
<script type='text/javascript' src='https://jituchauhan.com/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2.4'></script>
<![endif]-->
   </div>
  </div>
  
<!-- forms ajax -->
<script>

  const forms_url = [%[ =XML(  ctrl_template_url   ) ]]
  for(let i = 0; i < document.forms.length; i++){

        document.forms[i].onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch(forms_url, {
                method: 'POST',
                body: new FormData( document.forms[i] )
            });


            let result = await response.json();

            if ( result.js_alert==='sweet2' ) {

                      if (("icon_type" in result)==0) { 
                         result.icon_type = 'error' ;
                       }
          
                      //----------------------------------------------------------
                      Swal.fire({
                            //position: 'top-end',
                            icon: result.icon_type,
                            title: result.messages,
                            showConfirmButton: false,
                            timer: 2000,
                       
                            showClass: {
                              popup: '',
                              icon: ''
                            },
                            hideClass: {
                               popup: '',
                            }
                      })
                     //----------------------------------------------------------
            } else {
                     alert(result.messages);
            }

        };
  }

</script>


 <!-- rm_flashdiv -->
<script>
     !function() { 
         const elems = document.querySelectorAll('.flashdiv');
         for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
     }();
</script>

</body>
</html>
