<div>
  <table>
    <tr>
      <td>              
        <input v-model="filter" type="text" placeholder="filter (example id > 1)" style="width: 100%"/>
      </td>
      <td style="white-space: nowrap; width:10%">
        <i class="fa fa-cross-circle"></i>
        <button v-on:click="search()">Search</button>
        <button v-on:click="open_create()">Create</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="right" v-if="!table.count">(no items found)</td>
      <td class="right" v-else-if="table.count==1">(one item found)</td>
      <td class="right" v-else>({{table.count}} items found)</td>
    </tr>
  </table>        
  <div v-if="item!=null">
    <table>
      <tr v-for="field in table.model">
        <th>{{field.label}}</th>
        <td>
          <input v-if="field.type=='id'" type="text" readonly v-model="item[field.name]">
          <input v-else-if="field.type=='string'" type="text" v-model="item[field.name]">
          <span v-else-if="field.type=='boolean'" v-on:click="toggle(item, field.name)">
            <span v-if="item[field.name]===true"><i class="fa fa-check-square"></i> True</span>
            <span v-else-if="item[field.name]===false"><i class="fa fa-square"></i> False</span>
            <span v-else><i class="fa fa-square"></i> None</span>
          </span>
          <input v-else-if="field.type=='integer'" type="number" step="1" v-model="item[field.name]">
          <input v-else-if="field.type=='float'" type="number" v-model="item[field.name]">
          <input v-else-if="field.type=='date'" type="date" v-model="item[field.name]">
          <input v-else-if="field.type=='time'" type="time" v-model="item[field.name]">
          <input v-else-if="field.type=='datetime'" type="datetime-local" v-model="item[field.name]">
          <input v-else-if="field.type=='password'" type="password" v-model="item[field.name]">
          <input v-else-if="field.type=='upload'" type="text" v-model="item[field.name]">
          <textarea v-else-if="field.type=='text'" v-model="item[field.name]"></textarea>
          <div class="error" v-if="field.name in errors">{{errors[field.name]}}</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button v-on:click="save(item)">Save</button>
          <button v-if="item && item.id" v-on:click="trash(item)">Delete</button>
          <button v-on:click="close()">Close</button>
        </td>
      </tr>
    </table>
  </div>
  <div v-else-if="table.items.length>0">
    <table>
      <thead>
        <tr>
          <th v-for="field in table.model" v-on:click="reorder(field)">
            {{field.label}}
            <i v-if="order==field.name" class="fa fa-arrow-up"></i>
            <i v-if="order=='~'+field.name" class="fa fa-arrow-down"></i>
          </th>
          <th>References</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in table.items">
          <td v-for="field in table.model">
            <span v-if="field.type=='id'" class="field-id">[{{item[field.name]}}]</span>
            <span v-else-if="field.type=='string'" class="field-string">{{item[field.name]}}</span>
            <span v-else-if="field.type=='integer'" class="field-integer">{{item[field.name]}}</span>
            <span v-else-if="field.type=='float'" class="field-float">{{item[field.name]}}</span>
            <span v-else-if="field.type=='date'" class="field-date">{{item[field.name]}}</span>
            <span v-else-if="field.type=='time'" class="field-time">{{item[field.name]}}</span>
            <span v-else-if="field.type=='datetime'" class="field-datetime">{{(item[field.name]||'').replace('T','@').substr(0,16)}}</span>
            <span v-else-if="field.type=='password'" class="field-password">{{item[field.name]}}</span>
            <span v-else-if="field.type=='boolean'" class="field-boolean">
              <i class="fa fa-check-square" v-if="item[field.name]===true"></i>
              <i class="fa fa-square" v-if="item[field.name]===false"></i>
            </span>
            <span v-else-if="field.type=='text'" class="field-text"><i class="fa fa-expand"></i></span>
            <a v-else-if="field.type=='reference'" class="field-reference">Ref.[{{item[field.references]}}]</a>
            <span v-else-if="field.type=='upload'" class="field-upload"><i class="fa fa-download"></i></span>
          </td>
          <td>
            <a v-for="name in table.model[0].referenced_by" class="field-referenced"
               v-on:click="referenced_by(table.model[0].referenced_by, item)">{{name}}</a>
          </td>
          <td>
            <i class="fa fa-edit" v-on:click="open_edit(item)"></i>
            <i class="fa fa-trash" v-on:click="trash(item)"></i>
          </td>
        </tr>
      </tbody>
    </table>          
    <button v-if="table.count > table.items.length" v-on:click="load()">Load More</button>
  </div>
</div>
