<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Dashboard</title>

    
    <!-- CORE CSS-->    
    <link href="{{=URL('static','css/materialize.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{=URL('static','css/custom.css')}}" type="text/css" rel="stylesheet" media="screen,projection">
    
    {{block head}}{{end}}
  </head>
  <body>
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul class="left">                      
              <li><h1 class="logo-wrapper"><a href="index" class="brand-logo darken-1">WEB3PY</a> <span class="logo-text">Materialize</span></h1></li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="mdi-action-search"></i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i>
                </a>
              </li>                        
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
              <div class="row">
                <div class="col col s12 m12 l12">
                  <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a></li>
                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Sign-out</a></li>
                  </ul>
                  <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                  <p class="user-roal">Administrator</p>
                </div>
              </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Applications</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#">List view</a>
                      </li>
                      <li><a href="#">Previews</a>
                      </li>
                      <li><a href="#">Create New</a>
                      </li>
                      <li><a href="#">Upload New</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Deploy</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#">Ubuntu VPN</a>
                      </li>
                      <li><a href="#">PythonAnywhere</a>
                      </li>
                      <li><a href="#">Goole App Engine</a>
                      </li>
                      <li><a href="#">Open Shift</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Service</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#">Upgrade web3py</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->
        
        <!-- START CONTENT -->
        <section id="content">
          
          <!--start container-->
          <div class="container">
            
            <!--chart dashboard start-->
            <div id="dashboard">
              {{include}}
              
            </div>
            <!--end container-->
            
          </div>
        </section>
        <!-- END CONTENT -->
                
      </div>
      <!-- END MAIN -->
    </div>

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START FOOTER -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          Copyright © 2015
          <span class="right">Powered by web3py</span>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
    
    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="{{=URL('static','js/materialize.min.js')}}"></script>
    <script>
      $(".sidebar-collapse").sideNav();
    </script>
  </body>
</html>
