<html>
  <head>
    <!--link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" -->
    <link rel="stylesheet" type="text/css" href="css/future.css"/>
  </head>
  <body>    
    <a href="https://github.com/you"><img style="position: absolute; width:100px; top:0; right:0; border:0;" src="../static/images/forkme.png"/></a>
    <div id="target" class="my-effects">
      <div class="loading" v-if="loading"></div>
      <div>
        <img v-on:click="reload()" src="images/widget.gif" class="spinner-top"/>
        <span class="logo">WEB3PY/dashboard</span>
      </div>
      <div class="panel accordion">
        <input type="checkbox" id="learn">
        <label for="learn">About</label>
        <div>
          <p>
            Web3py conbines <a href="http://gunicorn.org/">gunicorn</a>
            with its pre-forked worker model and
            <a href="http://www.gevent.org/">gevent</a>
            with its coroutines parallelism based on greenlets.            
            It can easily handle thousands of requests per second.
          </p>
          <p>
            Web3py is based on <a href="http://bottlepy.org/">bottle</a>
            which provides request and response objects as well as routing.
          </p>
          <p>
            Web3py also includes many modules and capabilities derived from 
            <a href="http://web2py.com">web2py</a>
            including a web based UI, multi-app support, the Database Abstraction Layer, 
            the template system, the validators, the scheduler, most helpers, 
            a modified version of its ticketing system and
            its access control system. Like in web2py, you can immediately see the effects
            to changes to the code, and database tables are created/altered automatically.
            Web3py is not compatible with web2py but porting code is streighforward.
          </p>
          <p>
            Web3py also includes multilple examples apps based on
            <a href="https://vuejs.org/">vue.js</a> 
            and custom server-side tools that help you build
            build responsive and dynamic single apps based on APIs, 
            along with scripts to deploy those apps to 
            <a href="https://aws.amazon.com/">Amazon Web Services</a>, 
            <a href="https://cloud.google.com/appengine/">Google App Engine</a>
            and/or convert those apps into IOS and Android with 
            <a href="https://cordova.apache.org/">cordova</a>.
          </p>
          <p>
            This is the Web3py dashboard. You can do everything through the dashboard including:
            installing and creating applications, monitor applications, and deploy them. 
            Anything that you can do through the dashboard can also be done using a regular bash shell.
          </p>
          <h2>System Info</h2>
          <table>
            <tbody>
              <tr v-for="row in info">
                <td>{{row.name}}</td><td>{{row.version}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel accordion">
        <input type="checkbox" id="applications">
        <label for="applications">Installed Applications</label>
        <div class="applications-inner">
          <div style="float:right; margin:5px;">
            <button v-on:click="create_new_app()">Create New App</button>
            <button v-on:click="upload_new_app()">Upload New App</button>
          </div>
          <table>
            <tbody>
              <tr v-for="app in apps" v-on:click="select(app)">
                <td width="50px">
                  <center>
                    <img v-if="!app.error" src="images/widget.gif" height="40px"/>
                    <img v-if="app.error" src="images/malfunction.gif" height="40px"/>
                  </center>
                </td>
                <td style="font-size:1.8em;"><a>{{app.name}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel accordion" v-if="selected_app && selected_app.error" 
           style="background-color:rgba(255,0,0,0.5);">
        <input type="checkbox" id="traceback" checked>
        <label for="traceback">Cause of failure for: {{selected_app.name}}</label>
        <div>
          <pre>{{selected_app.error}}</pre>
        </div>
      </div>
      <div class="panel accordion" v-if="selected_app && !selected_app.error">
        <input type="checkbox" id="routes">
        <label for="routes">Routes for: {{selected_app.name}}</label>
        <div>
          <table v-if="routes.length">
            <thead>
              <tr>
                <th>Rule</th>
                <th>Method</th>
                <th>Filename</th>
                <th>Action</th>
                <th>Time(s)</th>
                <th>Calls/s</th>
                <th>Errors/s</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="route in routes" v-if="route.filename.startsWith(selected_app.name+'/')">
                <td><a v-bind:href="route.rule" target="_blank"><tt>{{route.rule}}<tt></a></td>
                <td><tt>{{route.method}}<tt></td>
                <td><a v-on:click="select_filename(route.filename)"><tt>{{route.filename}}</tt></a></td>
                <td><tt>{{route.action}}</tt></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <span v-else>No routes found</span>
        </div>
      </div>
      <div class="panel accordion" v-if="selected_app">
        <input type="checkbox" id="files" checked>
        <label for="files">Files in: {{selected_app.name}}</label>
        <div>
          <div style="float:right; margin:5px;">
            <button v-on:click="create_new_file()">Create New File</button>
            <button v-on:click="upload_new_file()">Upload New File</button>
            <button v-on:click="delete_selected_app()">Delete All Files</button>
            <button v-on:click="download_selected_app()">Download App</button>
            <button v-on:click="deploy_selected_app()">Deploy App</button>
          </div>
          <treefiles :f="walk" :p="selected_app.name"></treefiles>
        </div>
      </div>
      <div v-show="selected_filename" class="panel accordion">        
        <input type="checkbox" id="editor_container" checked>
        <label for="editor_container">File: {{selected_filename}}</label>
        <div>
          <div style="float:right; margin:5px;">
            <button v-on:click="delete_selected_file()">Delete File</button>
            <button v-on:click="load_file()">Reload File</button>
            <button v-on:click="save_file()">Save File</button>
          </div>
          <div v-show="selected_type=='text'" id="editor"></div>
          <div v-if="selected_type=='image'"><img v-bind:src="selected_file_link" class="preview"/></div>
          <div v-if="selected_type=='video'"><video v-bind:src="selected_file_link" class="preview"></video></div>
          <div v-if="selected_type=='audio'"><audio v-bind:src="selected_file_link" class="preview"></audio></div>
        </div>
      </div>
      <div class="panel accordion">
        <input type="checkbox" id="tracebacks">
        <label for="tracebacks">Recent Errors</label>
        <div>
          <div style="float:right; margin:5px;">
            <button v-on:click="reload_errors()">Reload Errors</button>
          </div>
          <table>
            <thead v-if="tracebacks.length>0">
              <tr>
                <td>Occurrences</td>
                <td>Details</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="tb in tracebacks">
                <td style="white-space: nowrap">
                  {{tb.counter}}<br/>
                  LAST: {{tb.modified_on}}<br/>
                  FIRST: {{tb.created_on}}
                </td>
                <td style="background-color:rgba(255,0,0,0.5); border-radius:10px">
                  <a>error.{{tb.application}}.{{tb.identifier}}</a>
                  <pre>{{tb.details}}</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal" v-if="modal">
        <img align="left" v-bind:src="'images/alert-'+modal.color+'.gif'"/>
        <div>
          <h2>{{modal.title}}</h2>
          <p>{{modal.message}}</p>
          <button v-for="button in modal.buttons" v-on:click="button.onclick()">{{button.text}}</button><button v-if="!modal.buttons" v-on:click="modal_dismiss()">Dismiss</button>
        </div>
      </div>
    </div>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/ace/ext-modelist.js" type="text/javascript" charset="utf-8"></script>

  <script src="js/custom.js"></script>
</html>
