<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>WebSocket Echo Test</title>
    <style>
        li { list-style: none; }
    </style>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
    <h2>Py4web tornado Websockets!
        (original: <a href = "https://www.includehelp.com/python/how-to-implement-a-websocket-server-using-tornado.aspx">
           https://www.includehelp.com/python/how-to-implement-a-websocket-server-using-tornado.aspx
        </a>)
    </h2>
    <form id="send" action='#'>
        <input type="text" style="width: 50%" value="message" />
        <div><input type="submit" value="Send" /> <div>
    </form>
    <div id="messages"></div>
    <script>
        $(document).ready(function() {
            if (!window.WebSocket) {
                if (window.MozWebSocket) {
                    window.WebSocket = window.MozWebSocket;
                } else {
                    $('#messages').append("<li>Your browser doesn't support WebSockets.</li>");
                }
            }
            ws = new WebSocket('ws://127.0.0.1:8000/');
            ws.onopen = function(evt) {
                $('#messages').append('<li>WebSocket connection opened.</li>');
            }
            ws.onmessage = function(evt) {
                $('#messages').append('<li>' + evt.data + '</li>');
            }
            ws.onclose = function(evt) {
                $('#messages').append('<li>WebSocket connection closed.</li>');
            }
            $('#send').submit(function() {
                ws.send($('input:first').val());
                $('input:first').val('').focus();
                return false;
            });
        });  </script>
</body>
</html>
