<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!--[if IE]><link rel="icon" href="/vuestic/static/tte/favicon.ico"><![endif]-->
  <title>AI-biorex, 14:48:03 16.12.2020 UTC+3</title>
  <!-- py4web app from https://github.com/epicmaxco/vuestic-admin -->
  <link href="/vuestic/static/tte/css/chunk-22fd92a8.f9436461.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-243c4266.4ee474e1.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-285309ee.8b0f31e3.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-310395fd.31996e22.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-31578d78.e805f136.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-3281ef98.8157f2ad.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-36370210.750d041a.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-36f0690b.7b2272ea.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-3fd566d6.88d1383b.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-47928080.1077aa6a.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-4a339fe7.2f7c61e7.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-4b68bb8a.b8b1dd01.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-51d95d0c.f410872a.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-55834d88.b9511732.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-592c01af.8df62af2.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-6100d7cc.6e9a65f6.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-75349bfc.73c276a4.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-77cfbd29.88111cc7.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-7d69dc15.906d0d1e.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-9e0d1682.c8329f4e.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-c016350e.1d97f530.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-ca6e6332.43edeef8.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/css/chunk-e0e61222.36fb2d7d.css" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-029ba2ff.39c23f33.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-0714246d.f3484317.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-216b3f17.5e7e8451.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-22fd92a8.8e3ce98a.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-243c4266.31115b00.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-285309ee.e82aef60.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0b1639.702208dc.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0bd821.51735e45.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0c0e46.0fc4a652.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0d3ed3.6e9c85ca.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0db264.7375c916.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0e1387.f5e978f8.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0e521d.274f7e42.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0e59ed.4b6abdd3.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0e95b4.11a7c257.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d0f00a2.26f76a72.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d2089ce.fbec84b5.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d210669.b5a50f8d.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d2109db.6fb99493.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d21a395.115044f4.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d21ed34.cd4827c6.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d22c340.d2edb83d.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-2d22c838.b5f85a92.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-310395fd.74f4f65c.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-31578d78.17bf4163.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-3281ef98.4a07d5c7.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-36370210.1a45eeb8.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-36f0690b.0837cb1e.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-3fd566d6.60c0cf15.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-4377e7e1.78d5041c.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-47928080.83c30890.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-4a339fe7.8b2d6c0f.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-4b68bb8a.39809817.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-51d95d0c.f2f5a8b0.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-55834d88.e99b9fad.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-592c01af.107d67f5.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-6100d7cc.e73431fa.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-6275e74f.08caef42.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-75349bfc.c3dc6952.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-77cfbd29.67751330.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-7d69dc15.ed97bfc3.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-9e0d1682.a0cb0b02.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-a31cea32.1458da2d.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-c016350e.02f4b709.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-ca6e6332.428da107.js" rel="prefetch"/>
  <link href="/vuestic/static/tte/js/chunk-e0e61222.d7fc7503.js" rel="prefetch"/>
  <link as="style" href="/vuestic/static/tte/css/chunk-vendors.bcc170e6.css" rel="preload"/>
  <link as="style" href="/vuestic/static/tte/css/index.d98ecd8a.css" rel="preload"/>
  <link as="script" href="/vuestic/static/tte/js/chunk-vendors.ba05070a.js" rel="preload"/>
  <link as="script" href="/vuestic/static/tte/js/index.080c107b.js" rel="preload"/>
  <link href="/vuestic/static/tte/css/chunk-vendors.bcc170e6.css" rel="stylesheet"/>
  <link href="/vuestic/static/tte/css/index.d98ecd8a.css" rel="stylesheet"/>
  <link href="/vuestic/static/tte/img/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/vuestic/static/tte/img/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/vuestic/static/tte/manifest.json" rel="manifest"/>
  <meta content="#4DBA87" name="theme-color"/>
  <meta content="no" name="apple-mobile-web-app-capable"/>
  <meta content="default" name="apple-mobile-web-app-status-bar-style"/>
  <meta content="vuestic" name="apple-mobile-web-app-title"/>
  <link href="/vuestic/static/tte/img/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon"/>
  <link color="#4DBA87" href="/vuestic/static/tte/img/icons/safari-pinned-tab.svg" rel="mask-icon"/>
  <meta content="/vuestic/static/tte/img/icons/msapplication-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#000000" name="msapplication-TileColor"/>
 </head>
 <body>
  <div id="app"></div>
  <script src="/vuestic/static/tte/js/chunk-vendors.ba05070a.js"></script>
  <script src="/vuestic/static/tte/js/index.080c107b.js"></script>
 </body>
</html>