<!DOCTYPE html>
<html class="fixed">
 <head>
            <!-- 01.12.2020 12:03:28 py4web app, ported by AI-biorex, tidylib_check = True -->
  <!-- Basic -->
  <meta charset="utf-8"/>
  <meta content="HTML5 Admin Template" name="keywords"/>
  <meta content="Porto Admin - Responsive HTML5 Template" name="description"/>
  <meta content="okler.net" name="author"/>
  <!-- Mobile Metas -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css"/>
  <!-- Vendor CSS -->
  <link href="[%[=URL('static/tte/assets/vendor/bootstrap/css/bootstrap.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/vendor/font-awesome/css/font-awesome.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/vendor/magnific-popup/magnific-popup.css') ]]" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/assets/vendor/bootstrap-datepicker/css/datepicker3.css') ]]" rel="stylesheet"/>
  <!-- Theme CSS -->
  <link href="[%[=URL('static/tte/assets/stylesheets/theme.css') ]]" rel="stylesheet"/>
  <!-- Skin CSS -->
  <link href="[%[=URL('static/tte/assets/stylesheets/skins/default.css') ]]" rel="stylesheet"/>
  <!-- Theme Custom CSS -->
  <link href="[%[=URL('static/tte/assets/stylesheets/theme-custom.css') ]]" rel="stylesheet"/>
  <!-- Head Libs -->
  <script src="[%[=URL('static/tte/assets/vendor/modernizr/modernizr.js') ]]"></script>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js" async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>


<!-- mysubmit button -->
<style>.mysubmit_cls {
    width: 6em;
    background-color: LightGray;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: bold;
    border: 1px dashed black;
    text-decoration: underline;
}

.mysubmit_cls:hover {
    background-color: LightCyan;
    cursor: pointer;
}


.flashdiv {
    text-align: center;
    position: absolute;
    display: inline-block;
}

.flashspan {
    position: relative;
    z-index: 100;
    background-color: #F0FFF0;
    color: black;
    border: 2px dashed red;
    padding: 0.2em 1em 0.2em 1em;
}


</style>

</head>
 <body>
  <!-- start: page -->
  <section class="body-error error-outside">
   <div class="center-error">
    <div class="row">
     <div class="col-sm-8">
      <div class="main-error mb-xlg">
       <h2 class="error-code text-dark text-center text-semibold m-none">
        500
        <i class="fa fa-file"></i>
       </h2>
       <p class="error-explanation text-center">We're sorry, something went wrong.</p>
      </div>
     </div>
     <div class="col-sm-4">
      <h4 class="text">Here are some useful links</h4>
      <ul class="nav nav-list primary">
       <li>
        <a href="#">
         <i class="fa fa-caret-right text-dark"></i>
         Dashboard
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-caret-right text-dark"></i>
         User Profile
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-caret-right text-dark"></i>
         FAQ's
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </section>
  <!-- end: page -->
  <!-- Vendor -->
  <script src="[%[=URL('static/tte/assets/vendor/jquery/jquery.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/bootstrap/js/bootstrap.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/nanoscroller/nanoscroller.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/magnific-popup/magnific-popup.js') ]]"></script>
  <script src="[%[=URL('static/tte/assets/vendor/jquery-placeholder/jquery.placeholder.js') ]]"></script>
  <!-- Theme Base, Components and Settings -->
  <script src="[%[=URL('static/tte/assets/javascripts/theme.js') ]]"></script>
  <!-- Theme Custom -->
  <script src="[%[=URL('static/tte/assets/javascripts/theme.custom.js') ]]"></script>
  <!-- Theme Initialization Files -->
  <script src="[%[=URL('static/tte/assets/javascripts/theme.init.js') ]]"></script>
 </body>
</html>