[[extend 'layout.html']]

<h2 style="color:red">WORK IN PROGRESS</h2>

<h2>Register Form</h2>
(or <a href="[[=URL('auth_form/register')]]">individual form</a>")
[[=register_form]]

<h2>Login Form</h2>
(or <a href="[[=URL('auth_form/login')]]">individual form</a>")
[[=login_form]]

<h2>Reset Password Form</h2>
(or <a href="[[=URL('auth_form/reset_password')]]">individual form</a>")
[[=reset_password_form]]

<h2>Change Password Form</h2>
(or <a href="[[=URL('auth_form/change_password')]]">individual form</a>")
[[=change_password_form]]

<h2>Profile Form</h2>
(or <a href="[[=URL('auth_form/profile')]]">individual form</a>")
[[=profile_form]]