<html>
  <head>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  </head>
  <body style="padding:5vh 10vw">
    <div id="vue">
      <h2>Grid</h2>
      [[=grid]]
    </div>
  </body>
  <script src="/_dashboard/static/js/axios.min.js"></script>
  <script src="/_dashboard/static/js/vue.min.js"></script>
  <script src="/_dashboard/static/js/utils.js"></script>
  <script src="/_dashboard/static/components/mtable.js"></script>
  <script>var app=utils.app(); app.start()</script>
</html>
