[[extend 'layout.html']]

<table class="table">
  <tr>
    <td>A normal page using a template</td>
    <td><a href="[[=URL('index')]]">example</a></td>
  </tr>
  <tr>
    <td>A simple page without template</td>
    <td><a href="[[=URL('simple_page')]]">example</a></td>
  </tr>
  <tr>
    <td>A page causing an internal error</td>
    <td><a href="[[=URL('error')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with a create form</td>
    <td><a href="[[=URL('create_form')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with an update form</td>
    <td><a href="[[=URL('update_form/1')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with an ajax powered grid</td>
    <td><a href="[[=URL('grid')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with mutiple forms</td>
    <td><a href="[[=URL('forms')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with a custom styled form</td>
    <td><a href="[[=URL('custom_form')]]">example</a></td>
  </tr>
  <tr>
    <td>A page using yatl helpers</td>
    <td><a href="[[=URL('helpers')]]">example</a></td>
  </tr>
  <tr>
    <td>A page using internationalization (try set browser to italian)</td>
    <td><a href="[[=URL('hello')]]">example</a></td>
  </tr>
  <tr>
    <td>A page using pluralization (try set browser to italian)</td>
    <td><a href="[[=URL('count')]]">example</a></td>
  </tr>
  <tr>
    <td>Sample Vue.js client-side grid.  Subclass components.grid.Grid to tailor.</td>
    <td><a href="[[=URL('vuegrid')]]">example</a></td>
  </tr>
  <tr>
    <td>Javascript file uploader.  Subclass components.fileupload.FileUpload to tailor.</td>
    <td><a href="[[=URL('file_uploader')]]">example</a></td>
  </tr>
  <tr>
    <td>Custom Vue form.  Subclass components.vueform.VueForm to tailor.</td>
    <td><a href="[[=URL('vue_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Insertion form in Vue.  Subclass components.vueform.InsertForm to tailor.</td>
    <td><a href="[[=URL('insert_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Update form in Vue.  Subclass components.vueform.TableForm to tailor.</td>
    <td><a href="[[=URL('update_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Star rating component in Vue.  Subclass components.starrater.StarRater to tailor.</td>
    <td><a href="[[=URL('star_rater')]]">example</a></td>
  </tr>
</table>
