[[extend 'layout.html']]

<table class="table">
  <tr>
    <th colspan="2" class="is-info">Basic Examples</th>
  </tr>
  <tr>
    <td>A normal page without template</td>
    <td><a role="button" href="[[=URL('page_without_template')]]">example</a></td>
  </tr>
  <tr>
    <td>A normal page with template</td>
    <td><a role="button" href="[[=URL('page_with_template')]]">example</a></td>
  </tr>
  <tr>
    <td>A page causing an internal error</td>
    <td><a role="button" href="[[=URL('page_with_error')]]">example</a></td>
  </tr>
  <tr>
    <td>A missing page</td>
    <td><a role="button" href="[[=URL('missing_page')]]">example</a></td>
  </tr>
  <tr>
    <td>Page which raises HTTP</td>
    <td><a role="button" href="[[=URL('page_with_raise')]]">example</a></td>
  </tr>
  <tr>
    <td>Page with a redirect</td>
    <td><a role="button" href="[[=URL('page_with_redirect')]]">example</a></td>
  </tr>
  <tr>
    <td>Page with parameters</td>
    <td><a role="button" href="[[=URL('page_with_parameters/a/b/c')]]">example</a></td>
  </tr>
  <tr>
    <td>Page with query string</td>
    <td><a role="button" href="[[=URL('page_with_query', vars=dict(a='b'))]]">example</a></td>
  </tr>
  <tr>
    <td>Page with a postback</td>
    <td><a role="button" href="[[=URL('page_with_postback')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Fixtues: Flash</th>
  </tr>
  <tr>
    <td>A page with a flash (clientside only)</td>
    <td><a role="button" href="[[=URL('flash_example')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with a flash (with redirect and fixture)</td>
    <td><a role="button" href="[[=URL('flash_example_fixture')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Fixtues: Session</th>
  </tr>
  <tr>
    <td>A page with a counter</td>
    <td><a role="button" href="[[=URL('session/counter')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Helpers</th>
  </tr>
  <tr>
    <td>A page using yatl helpers</td>
    <td><a role="button" href="[[=URL('helpers')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Internationalization and Pluralization</th>
  </tr>
  <tr>
    <td>A page using internationalization (try set browser to italian)</td>
    <td><a role="button" href="[[=URL('hello')]]">example</a></td>
  </tr>
  <tr>
    <td>A page using pluralization (try set browser to italian)</td>
    <td><a role="button" href="[[=URL('count')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Components</th>
  </tr>
  <tr>
    <td>A page embedding a py4web component via ajax (no Vue)</td>
    <td><a role="button" href="[[=URL('component_loader')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Forms</th>
  </tr>
  <tr>
    <td>A page with a create form</td>
    <td><a role="button" href="[[=URL('create_form')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with an update form</td>
    <td><a role="button" href="[[=URL('update_form/1')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with mutiple forms</td>
    <td><a role="button" href="[[=URL('forms')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with a custom styled form</td>
    <td><a role="button" href="[[=URL('custom_form')]]">example</a></td>
  </tr>
  <tr>
    <td>A form with tags_input widget</td>
    <td><a role="button" href="[[=URL('tagsinput_form')]]">example</a></td>
  </tr>
  <tr>
    <td>A page with form using hCaptcha</td>
    <td><a role="button" href="[[=URL('hcaptcha_form')]]">example</a></td>
  </tr>
  <tr>
  <tr>
    <th colspan="2" class="is-info">Grid (no vue.js)</th>
  </tr>
  <tr>
    <td>A page with an serverside pure html grid</td>
    <td><a role="button" href="[[=URL('html_grid')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Grid (requires Vue.js)</th>
  </tr>
  <tr>
    <td>A page with an ajax powered grid</td>
    <td><a role="button" href="[[=URL('ajax_grid')]]">example</a></td>
  </tr>
  <tr>
    <td>A page embedding multiple auth forms</td>
    <td><a role="button" href="[[=URL('auth_forms')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Py4web Component Examples (no.css)</th>
  </tr>
  <tr>
    <td>Sample Vue.js client-side grid.  Subclass components.grid.Grid to tailor.</td>
    <td><a role="button" href="[[=URL('vuegrid')]]">example</a></td>
  </tr>
  <tr>
    <td>Javascript file uploader.  Subclass components.fileupload.FileUpload to tailor.</td>
    <td><a role="button" href="[[=URL('file_uploader')]]">example</a></td>
  </tr>
  <tr>
    <td>Custom Vue form.  Subclass components.vueform.VueForm to tailor.</td>
    <td><a role="button" href="[[=URL('vue_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Insertion form in Vue.  Subclass components.vueform.InsertForm to tailor.</td>
    <td><a role="button" href="[[=URL('insert_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Update form in Vue.  Subclass components.vueform.TableForm to tailor.</td>
    <td><a role="button" href="[[=URL('update_form')]]">example</a></td>
  </tr>
  <tr>
    <td>Star rating component in Vue; example of component instantiation from Vue.
      Subclass components.starrater.StarRater to tailor.</td>
    <td><a role="button" href="[[=URL('star_rater_vue')]]">example</a></td>
  </tr>
   <tr>
    <th colspan="2" class="is-info">Py4web Component Examples (Bulma)</th>
  </tr>
  <tr>
    <td>Sample Vue.js client-side grid using Bulma css.  Subclass components.grid.Grid to tailor.</td>
    <td><a role="button" href="[[=URL('vuegrid_bulma')]]">example</a></td>
  </tr>
  <tr>
    <td>Custom Vue form using Bulma css.  Subclass components.vueform.VueForm to tailor.</td>
    <td><a role="button" href="[[=URL('vue_form_bulma')]]">example</a></td>
  </tr>
  <tr>
    <td>Insertion form in Vue, using Bulma css.  Subclass components.vueform.InsertForm to tailor.</td>
    <td><a role="button" href="[[=URL('insert_form_bulma')]]">example</a></td>
  </tr>
  <tr>
    <td>Update form in Vue, using Bluma css.  Subclass components.vueform.TableForm to tailor.</td>
    <td><a role="button" href="[[=URL('update_form_bulma')]]">example</a></td>
  </tr>
  <tr>
    <td>Star rating component in Vue using Bulma css; example of component instantiation from Vue.
      Subclass components.starrater.StarRater to tailor.</td>
    <td><a role="button" href="[[=URL('star_rater_vue_bulma')]]">example</a></td>
  </tr>
  <tr>
    <th colspan="2" class="is-info">Websocket Examples</th>
  </tr>
  <tr>
    <td>A page using websockets</td>
    <td><a role="button" href="[[=URL('ws')]]">ws</a></td>
  </tr>
  <tr>
    <td>A page using websockets with socketio</td>
    <td><a role="button" href="[[=URL('socketio')]]">socketio</a></td>
  </tr>
</table>
