<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/[[=request.app_name]]/static/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <h1 class="title">Example</h1>
      </div>
    </section>
    
    <section class="section">
      <div class="container">
        [[include]]
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        I was made with web3py
      </div>
    </footer>
  </body>
  <script src="[[=URL('static/js/utils.js')]]"></script>
  [[block scripts]]
  [[end]]
</html>
