[[extend "layout.html"]]
<h1>Friends Search</h1>

[[=form]]

<table>
  [[for user in users:]]
  <tr>
    <td>[[=user.first_name]]</td>
    <td>[[=user.last_name]]</td>
    <td>[[=user.username]]</td>
    <td>[[=request_friendship.button('Request')(id=user.id)]]</td>
  </tr>
  [[pass]]
</table>

<h2>Requests received</h2>
<table>
  [[for r in requests_received:]]
  <tr>
    <td>[[=r.auth_user.first_name]]</td>
    <td>[[=r.auth_user.last_name]]</td>
    <td>[[=r.auth_user.username]]</td>
    <td>[[=r.friend_request.status]]</td> 
    <td>
      [[if r.friend_request.status == 'pending':]]
        [[=accept_friendship.button('Accept')(id=r.friend_request.id)]]
        [[=reject_friendship.button('Reject')(id=r.friend_request.id)]]
      [[pass]]
    </td>
  </tr>
  [[pass]]
</table>

<h2>Requests sent</h2>
<table>
  [[for r in requests_sent:]]
  <tr>
    <td>[[=r.auth_user.first_name]]</td>
    <td>[[=r.auth_user.last_name]]</td>
    <td>[[=r.auth_user.username]]</td>
    <td>[[=r.friend_request.status]]</td> 
  </tr>
  [[pass]]
</table>
