<!DOCTYPE html>
<html>
 <head>
            <!-- 08.12.2020 08:51:34 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>biorex title text</title>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/15181efa86.js"></script>
  <link href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/css/ghost-blog.css') ]]" rel="stylesheet" type="text/css"/>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js" async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body>
  <section class="hero is-medium">
   <div class="hero-head">
    <div class="container">
     <nav aria-label="main navigation" class="navbar" role="navigation">
      <div class="navbar-menu" id="navbarBasicExample">
       <div class="navbar-start">
        <a class="navbar-item is-active">Home</a>
        <a class="navbar-item">Blog Posts</a>
       </div>
       <div class="navbar-end">
        <div class="navbar-item">
         <a href="#">
          <i class="fab fa-facebook"></i>
         </a>
         <a href="#">
          <i class="fab fa-twitter"></i>
         </a>
         <a href="#">
          <i class="fas fa-rss-square"></i>
         </a>
        </div>
       </div>
      </div>
     </nav>
    </div>
   </div>
   <div class="hero-body">
    <div class="container has-text-centered">
     <img height="40" src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="150"/>
     <h2 class="subtitle">Ghost's Casper theme made with Bulma</h2>
    </div>
   </div>
  </section>
  <section class="blog-posts">
   <div class="container">
    <div class="columns">
     <div class="column is-10 is-offset-1">
      <div class="columns featured-post is-multiline">
       <div class="column is-12 post">
        <article class="columns featured">
         <div class="column is-7 post-img">
          <img alt="" src="https://cdn.emk.dev/templates/featured-image.png"/></div>
         <div class="column is-5 featured-content va">
          <div>
           <h3 class="heading post-category">Category Name</h3>
           <h1 class="title post-title">Blog Posts Template</h1>
           <p class="post-excerpt">
            This template is based off of the official default blog template created by the fine folks over at
            <a href="https://ghost.io">Ghost</a>
            . If you are looking for a fully featured blog platform, I highly recommend checking them out!
           </p>
           <br/>
           <a class="button is-primary" href="#">Read More</a>
          </div>
         </div>
        </article>
       </div>
      </div>
      <hr/>
      <div class="columns is-multiline">
       <div class="column post is-6">
        <article class="columns is-multiline">
         <div class="column is-12 post-img">
          <img alt="Featured Image" src="https://cdn.emk.dev/templates/post-img.png"/></div>
         <div class="column is-12 featured-content">
          <h3 class="heading post-category">Category Name</h3>
          <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
          <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
          <br/>
          <a class="button is-primary" href="#">Read More</a>
         </div>
        </article>
       </div>
       <div class="column post is-6">
        <article class="columns is-multiline">
         <div class="column is-12 post-img">
          <img alt="Featured Image" src="https://cdn.emk.dev/templates/post-img.png"/></div>
         <div class="column is-12 featured-content">
          <h3 class="heading post-category">Category Name</h3>
          <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
          <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
          <br/>
          <a class="button is-primary" href="#">Read More</a>
         </div>
        </article>
       </div>
       <div class="column post is-4">
        <article class="columns is-multiline">
         <div class="column is-12 post-img">
          <img alt="Featured Image" src="https://cdn.emk.dev/templates/post-img.png"/></div>
         <div class="column is-12 featured-content">
          <h3 class="heading post-category">Category Name</h3>
          <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
          <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
          <br/>
          <a class="button is-primary" href="#">Read More</a>
         </div>
        </article>
       </div>
       <div class="column post is-4">
        <article class="columns is-multiline">
         <div class="column is-12 post-img">
          <img alt="Featured Image" src="https://cdn.emk.dev/templates/post-img.png"/></div>
         <div class="column is-12 featured-content">
          <h3 class="heading post-category">Category Name</h3>
          <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
          <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
          <br/>
          <a class="button is-primary" href="#">Read More</a>
         </div>
        </article>
       </div>
       <div class="column post is-4">
        <article class="columns is-multiline">
         <div class="column is-12 post-img">
          <img alt="Featured Image" src="https://cdn.emk.dev/templates/post-img.png"/></div>
         <div class="column is-12 featured-content">
          <h3 class="heading post-category">Category Name</h3>
          <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
          <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
          <br/>
          <a class="button is-primary" href="#">Read More</a>
         </div>
        </article>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
 </body>
</html>