<div class="dbadmin-nav-buttons">
    <button class="header-btn" onclick="goToAppView('files')">
        <i class="fas fa-folder"></i> Files
    </button>
    <button class="header-btn active">
        <i class="fas fa-database"></i> Databases
    </button>
    <button class="header-btn" onclick="goToAppView('routes')">
        <i class="fas fa-route"></i> Routes
    </button>
    <button class="header-btn" onclick="goToIndex()">
        <i class="fas fa-arrow-left"></i> Back
    </button>
</div>