<!DOCTYPE html>
<html>
 <head>
            <!-- 02.01.2021 13:24:58 py4web app, ported by AI-biorex, tidylib_check = True -->
  <!-- Basic Page Info -->
  <meta charset="utf-8"/>
  <title>biorex title text</title>
  <!-- Site favicon -->
  <link href="[%[=URL('static/tte/vendors/images/apple-touch-icon.png') ]]" rel="apple-touch-icon" sizes="180x180"/>
  <link href="[%[=URL('static/tte/vendors/images/favicon-32x32.png') ]]" rel="icon" sizes="32x32" type="image/png"/>
  <link href="[%[=URL('static/tte/vendors/images/favicon-16x16.png') ]]" rel="icon" sizes="16x16" type="image/png"/>
  <!-- Mobile Specific Metas -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet"/>
  <!-- CSS -->
  <link href="[%[=URL('static/tte/vendors/styles/core.css') ]]" rel="stylesheet" type="text/css"/>
  <link href="[%[=URL('static/tte/vendors/styles/icon-font.min.css') ]]" rel="stylesheet" type="text/css"/>
  <link href="[%[=URL('static/tte/src/plugins/cropperjs/dist/cropper.css') ]]" rel="stylesheet" type="text/css"/>
  <link href="[%[=URL('static/tte/vendors/styles/style.css') ]]" rel="stylesheet" type="text/css"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-119386393-1');
  </script>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js" async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

   <!-- disable google analytics -->
   <script>window['ga-disable-UA-119386393-1'] = true;</script>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body>
  <div class="pre-loader">
   <div class="pre-loader-box">
    <div class="loader-logo">
     <img alt="" src="[%[=URL('static/tte/vendors/images/deskapp-logo.svg') ]]"/></div>
    <div class="loader-progress" id="progress_div">
     <div class="bar" id="bar1"></div>
    </div>
    <div class="percent" id="percent1">0%</div>
    <div class="loading-text">Loading...</div>
   </div>
  </div>
  <div class="header">
   <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    <div class="header-search">
     
<!-- BEGIN view: fprofile0, db_table: dfprofile0 -->
<div>
[%[= fprofile0.custom['begin'] ]]
<div class="form-group mb-0">
 <i class="dw dw-search2 search-icon">
 </i>
 [%[ fprofile0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fprofile0.custom['widgets']['f0']['_class']= 'form-control search-input'  ]]
 [%[ fprofile0.custom['widgets']['f0']['_placeholder']= 'Search Here_p4w'  ]]
 [%[= fprofile0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fprofile0.custom['errors']['f0'] if 'f0' in fprofile0.custom['errors'] else '' ]]</span>

 <div class="dropdown">
  <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="#" role="button">
   <i class="ion-arrow-down-c">
   </i>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
   <div class="form-group row">
    <label class="col-sm-12 col-md-2 col-form-label">
     From
    </label>
    <div class="col-sm-12 col-md-10">
 [%[ fprofile0.custom['widgets']['f1']['_class']= 'form-control form-control-sm form-control-line'  ]]
 [%[ fprofile0.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[ fprofile0.custom['widgets']['f1']['_placeholder']= '_p4w'  ]]
 [%[= fprofile0.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= fprofile0.custom['errors']['f1'] if 'f1' in fprofile0.custom['errors'] else '' ]]</span>

    </div>
   </div>
   <div class="form-group row">
    <label class="col-sm-12 col-md-2 col-form-label">
     To
    </label>
    <div class="col-sm-12 col-md-10">
 [%[ fprofile0.custom['widgets']['f2']['_class']= 'form-control form-control-sm form-control-line'  ]]
 [%[ fprofile0.custom['widgets']['f2']['_type']= 'text'  ]]
 [%[ fprofile0.custom['widgets']['f2']['_placeholder']= '_p4w'  ]]
 [%[= fprofile0.custom['widgets']['f2'] ]]

 <span style="color:#ff0000">[%[= fprofile0.custom['errors']['f2'] if 'f2' in fprofile0.custom['errors'] else '' ]]</span>

    </div>
   </div>
   <div class="form-group row">
    <label class="col-sm-12 col-md-2 col-form-label">
     Subject
    </label>
    <div class="col-sm-12 col-md-10">
 [%[ fprofile0.custom['widgets']['f3']['_class']= 'form-control form-control-sm form-control-line'  ]]
 [%[ fprofile0.custom['widgets']['f3']['_type']= 'text'  ]]
 [%[ fprofile0.custom['widgets']['f3']['_placeholder']= '_p4w'  ]]
 [%[= fprofile0.custom['widgets']['f3'] ]]

 <span style="color:#ff0000">[%[= fprofile0.custom['errors']['f3'] if 'f3' in fprofile0.custom['errors'] else '' ]]</span>

    </div>
   </div>
   <div class="text-right">
 [%[ fprofile0.custom['submit']['_class']= 'btn btn-primary'  ]]
 [%[ fprofile0.custom['submit']['_title']= 'mysubmit from button'  ]]
 [%[ fprofile0.custom['submit']['_type']= 'submit'  ]]
 [%[ fprofile0.custom['submit']['_value']= 'Submit'  ]]
 [%[ fprofile0.custom['submit']['_style']= 'text-decoration: underline; font-weight: bold;'  ]]
 [%[= fprofile0.custom['submit'] ]]

   </div>
  </div>
 </div>
</div>

 [%[ for hidden_widget in fprofile0.custom['hidden_widgets'].keys(): ]]
     [%[= fprofile0.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fprofile0</span></div>


[%[= fprofile0.custom['end'] ]]
</div>
<!-- END fprofile0-->

    </div>
   </div>
   <div class="header-right">
    <div class="dashboard-setting user-notification">
     <div class="dropdown">
      <a class="dropdown-toggle no-arrow" data-toggle="right-sidebar" href="javascript:;">
       <i class="dw dw-settings2"></i>
      </a>
     </div>
    </div>
    <div class="user-notification">
     <div class="dropdown">
      <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="#" role="button">
       <i class="icon-copy dw dw-notification"></i>
       <span class="badge notification-active"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
       <div class="notification-list mx-h-350 customscroll">
        <ul>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/img.jpg') ]]"/>
           <h3>John Doe</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/photo1.jpg') ]]"/>
           <h3>Lea R. Frith</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/photo2.jpg') ]]"/>
           <h3>Erik L. Richards</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/photo3.jpg') ]]"/>
           <h3>John Doe</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/photo4.jpg') ]]"/>
           <h3>Renee I. Hansen</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
         <li>
          <a href="#">
           <img alt="" src="[%[=URL('static/tte/vendors/images/img.jpg') ]]"/>
           <h3>Vicki M. Coleman</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="user-info-dropdown">
     <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
       <span class="user-icon">
        <img alt="" src="[%[=URL('static/tte/vendors/images/photo1.jpg') ]]"/></span>
       <span class="user-name">Ross C. Lopez</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
       <a class="dropdown-item" href="[%[=URL('profile') ]]">
        <i class="dw dw-user1"></i>
        Profile
       </a>
       <a class="dropdown-item" href="[%[=URL('profile') ]]">
        <i class="dw dw-settings2"></i>
        Setting
       </a>
       <a class="dropdown-item" href="[%[=URL('faq') ]]">
        <i class="dw dw-help"></i>
        Help
       </a>
       <a class="dropdown-item" href="[%[=URL('login') ]]">
        <i class="dw dw-logout"></i>
        Log Out
       </a>
      </div>
     </div>
    </div>
    <div class="github-link">
     <a href="https://github.com/dropways/deskapp" target="_blank">
      <img alt="" src="[%[=URL('static/tte/vendors/images/github.svg') ]]"/></a>
    </div>
   </div>
  </div>
  <div class="right-sidebar">
   <div class="sidebar-title">
    <h3 class="weight-600 font-16 text-blue">
     Layout Settings
     <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
    </h3>
    <div class="close-sidebar" data-toggle="right-sidebar-close">
     <i class="icon-copy ion-close-round"></i>
    </div>
   </div>
   <div class="right-sidebar-body customscroll">
    <div class="right-sidebar-body-content">
     <h4 class="weight-600 font-18 pb-10">Header Background</h4>
     <div class="sidebar-btn-group pb-30 mb-10">
      <a class="btn btn-outline-primary header-white active" href="javascript:void(0);">White</a>
      <a class="btn btn-outline-primary header-dark" href="javascript:void(0);">Dark</a>
     </div>
     <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
     <div class="sidebar-btn-group pb-30 mb-10">
      <a class="btn btn-outline-primary sidebar-light" href="javascript:void(0);">White</a>
      <a class="btn btn-outline-primary sidebar-dark active" href="javascript:void(0);">Dark</a>
     </div>
     <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
     <div class="sidebar-radio-group pb-10 mb-10">
      <div class="custom-control custom-radio custom-control-inline">
       <input checked="" class="custom-control-input" id="sidebaricon-1" name="menu-dropdown-icon" type="radio" value="icon-style-1"/>
       <label class="custom-control-label" for="sidebaricon-1">
        <i class="fa fa-angle-down"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebaricon-2" name="menu-dropdown-icon" type="radio" value="icon-style-2"/>
       <label class="custom-control-label" for="sidebaricon-2">
        <i class="ion-plus-round"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebaricon-3" name="menu-dropdown-icon" type="radio" value="icon-style-3"/>
       <label class="custom-control-label" for="sidebaricon-3">
        <i class="fa fa-angle-double-right"></i>
       </label>
      </div>
     </div>
     <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
     <div class="sidebar-radio-group pb-30 mb-10">
      <div class="custom-control custom-radio custom-control-inline">
       <input checked="" class="custom-control-input" id="sidebariconlist-1" name="menu-list-icon" type="radio" value="icon-list-style-1"/>
       <label class="custom-control-label" for="sidebariconlist-1">
        <i class="ion-minus-round"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebariconlist-2" name="menu-list-icon" type="radio" value="icon-list-style-2"/>
       <label class="custom-control-label" for="sidebariconlist-2">
        <i aria-hidden="true" class="fa fa-circle-o"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebariconlist-3" name="menu-list-icon" type="radio" value="icon-list-style-3"/>
       <label class="custom-control-label" for="sidebariconlist-3">
        <i class="dw dw-check"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input checked="" class="custom-control-input" id="sidebariconlist-4" name="menu-list-icon" type="radio" value="icon-list-style-4"/>
       <label class="custom-control-label" for="sidebariconlist-4">
        <i class="icon-copy dw dw-next-2"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebariconlist-5" name="menu-list-icon" type="radio" value="icon-list-style-5"/>
       <label class="custom-control-label" for="sidebariconlist-5">
        <i class="dw dw-fast-forward-1"></i>
       </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input class="custom-control-input" id="sidebariconlist-6" name="menu-list-icon" type="radio" value="icon-list-style-6"/>
       <label class="custom-control-label" for="sidebariconlist-6">
        <i class="dw dw-next"></i>
       </label>
      </div>
     </div>
     <div class="reset-options pt-30 text-center">
      <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
     </div>
    </div>
   </div>
  </div>
  <div class="left-side-bar">
   <div class="brand-logo">
    <a href="[%[=URL('index') ]]">
     <img alt="" class="dark-logo" src="[%[=URL('static/tte/vendors/images/deskapp-logo.svg') ]]"/>
     <img alt="" class="light-logo" src="[%[=URL('static/tte/vendors/images/deskapp-logo-white.svg') ]]"/></a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
     <i class="ion-close-round"></i>
    </div>
   </div>
   <div class="menu-block customscroll">
    <div class="sidebar-menu">
     <ul id="accordion-menu">
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-house-1"></span>
        <span class="mtext">Home</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('index') ]]">Dashboard style 1</a>
        </li>
        <li>
         <a href="[%[=URL('index2') ]]">Dashboard style 2</a>
        </li>
        <li>
         <a href="[%[=URL('index3') ]]">Dashboard style 3</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-edit2"></span>
        <span class="mtext">Forms</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('formXbasic') ]]">Form Basic</a>
        </li>
        <li>
         <a href="[%[=URL('advancedXcomponents') ]]">Advanced Components</a>
        </li>
        <li>
         <a href="[%[=URL('formXwizard') ]]">Form Wizard</a>
        </li>
        <li>
         <a href="[%[=URL('html5Xeditor') ]]">HTML5 Editor</a>
        </li>
        <li>
         <a href="[%[=URL('formXpickers') ]]">Form Pickers</a>
        </li>
        <li>
         <a href="[%[=URL('imageXcropper') ]]">Image Cropper</a>
        </li>
        <li>
         <a href="[%[=URL('imageXdropzone') ]]">Image Dropzone</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-library"></span>
        <span class="mtext">Tables</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('basicXtable') ]]">Basic Tables</a>
        </li>
        <li>
         <a href="[%[=URL('datatable') ]]">DataTables</a>
        </li>
       </ul>
      </li>
      <li>
       <a class="dropdown-toggle no-arrow" href="[%[=URL('calendar') ]]">
        <span class="micon dw dw-calendar1"></span>
        <span class="mtext">Calendar</span>
       </a>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-apartment"></span>
        <span class="mtext">UI Elements</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('uiXbuttons') ]]">Buttons</a>
        </li>
        <li>
         <a href="[%[=URL('uiXcards') ]]">Cards</a>
        </li>
        <li>
         <a href="[%[=URL('uiXcardsXhover') ]]">Cards Hover</a>
        </li>
        <li>
         <a href="[%[=URL('uiXmodals') ]]">Modals</a>
        </li>
        <li>
         <a href="[%[=URL('uiXtabs') ]]">Tabs</a>
        </li>
        <li>
         <a href="[%[=URL('uiXtooltipXpopover') ]]">Tooltip &amp; Popover</a>
        </li>
        <li>
         <a href="[%[=URL('uiXsweetXalert') ]]">Sweet Alert</a>
        </li>
        <li>
         <a href="[%[=URL('uiXnotification') ]]">Notification</a>
        </li>
        <li>
         <a href="[%[=URL('uiXtimeline') ]]">Timeline</a>
        </li>
        <li>
         <a href="[%[=URL('uiXprogressbar') ]]">Progressbar</a>
        </li>
        <li>
         <a href="[%[=URL('uiXtypography') ]]">Typography</a>
        </li>
        <li>
         <a href="[%[=URL('uiXlistXgroup') ]]">List group</a>
        </li>
        <li>
         <a href="[%[=URL('uiXrangeXslider') ]]">Range slider</a>
        </li>
        <li>
         <a href="[%[=URL('uiXcarousel') ]]">Carousel</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-paint-brush"></span>
        <span class="mtext">Icons</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('fontXawesome') ]]">FontAwesome Icons</a>
        </li>
        <li>
         <a href="[%[=URL('foundation') ]]">Foundation Icons</a>
        </li>
        <li>
         <a href="[%[=URL('ionicons') ]]">Ionicons Icons</a>
        </li>
        <li>
         <a href="[%[=URL('themify') ]]">Themify Icons</a>
        </li>
        <li>
         <a href="[%[=URL('customXicon') ]]">Custom Icons</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-analytics-21"></span>
        <span class="mtext">Charts</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('highchart') ]]">Highchart</a>
        </li>
        <li>
         <a href="[%[=URL('knobXchart') ]]">jQuery Knob</a>
        </li>
        <li>
         <a href="[%[=URL('jvectormap') ]]">jvectormap</a>
        </li>
        <li>
         <a href="[%[=URL('apexcharts') ]]">Apexcharts</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-right-arrow1"></span>
        <span class="mtext">Additional Pages</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('videoXplayer') ]]">Video Player</a>
        </li>
        <li>
         <a href="[%[=URL('login') ]]">Login</a>
        </li>
        <li>
         <a href="[%[=URL('forgotXpassword') ]]">Forgot Password</a>
        </li>
        <li>
         <a href="[%[=URL('resetXpassword') ]]">Reset Password</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-browser2"></span>
        <span class="mtext">Error Pages</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('X400') ]]">400</a>
        </li>
        <li>
         <a href="[%[=URL('X403') ]]">403</a>
        </li>
        <li>
         <a href="[%[=URL('X404') ]]">404</a>
        </li>
        <li>
         <a href="[%[=URL('X500') ]]">500</a>
        </li>
        <li>
         <a href="[%[=URL('X503') ]]">503</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-copy"></span>
        <span class="mtext">Extra Pages</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('blank') ]]">Blank</a>
        </li>
        <li>
         <a href="[%[=URL('contactXdirectory') ]]">Contact Directory</a>
        </li>
        <li>
         <a href="[%[=URL('blog') ]]">Blog</a>
        </li>
        <li>
         <a href="[%[=URL('blogXdetail') ]]">Blog Detail</a>
        </li>
        <li>
         <a href="[%[=URL('product') ]]">Product</a>
        </li>
        <li>
         <a href="[%[=URL('productXdetail') ]]">Product Detail</a>
        </li>
        <li>
         <a href="[%[=URL('faq') ]]">FAQ</a>
        </li>
        <li>
         <a href="[%[=URL('profile') ]]">Profile</a>
        </li>
        <li>
         <a href="[%[=URL('gallery') ]]">Gallery</a>
        </li>
        <li>
         <a href="[%[=URL('pricingXtable') ]]">Pricing Tables</a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-list3"></span>
        <span class="mtext">Multi Level Menu</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
        <li class="dropdown">
         <a class="dropdown-toggle" href="javascript:;">
          <span class="micon fa fa-plug"></span>
          <span class="mtext">Level 2</span>
         </a>
         <ul class="submenu child">
          <li>
           <a href="javascript:;">Level 2</a>
          </li>
          <li>
           <a href="javascript:;">Level 2</a>
          </li>
         </ul>
        </li>
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
        <li>
         <a href="javascript:;">Level 1</a>
        </li>
       </ul>
      </li>
      <li>
       <a class="dropdown-toggle no-arrow" href="[%[=URL('sitemap') ]]">
        <span class="micon dw dw-diagram"></span>
        <span class="mtext">Sitemap</span>
       </a>
      </li>
      <li>
       <a class="dropdown-toggle no-arrow" href="[%[=URL('chat') ]]">
        <span class="micon dw dw-chat3"></span>
        <span class="mtext">Chat</span>
       </a>
      </li>
      <li>
       <a class="dropdown-toggle no-arrow" href="[%[=URL('invoice') ]]">
        <span class="micon dw dw-invoice"></span>
        <span class="mtext">Invoice</span>
       </a>
      </li>
      <li>
       <div class="dropdown-divider"></div>
      </li>
      <li>
       <div class="sidebar-small-cap">Extra</div>
      </li>
      <li>
       <a class="dropdown-toggle" href="javascript:;">
        <span class="micon dw dw-edit-2"></span>
        <span class="mtext">Documentation</span>
       </a>
       <ul class="submenu">
        <li>
         <a href="[%[=URL('introduction') ]]">Introduction</a>
        </li>
        <li>
         <a href="[%[=URL('gettingXstarted') ]]">Getting Started</a>
        </li>
        <li>
         <a href="[%[=URL('colorXsettings') ]]">Color Settings</a>
        </li>
        <li>
         <a href="[%[=URL('thirdXpartyXplugins') ]]">Third Party Plugins</a>
        </li>
       </ul>
      </li>
      <li>
       <a class="dropdown-toggle no-arrow" href="https://dropways.github.io/deskapp-free-single-page-website-template/" target="_blank">
        <span class="micon dw dw-paper-plane1"></span>
        <span class="mtext">
         Landing Page
         <img alt="" src="[%[=URL('static/tte/vendors/images/coming-soon.png') ]]" width="25"/></span>
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="mobile-menu-overlay"></div>
  <div class="main-container">
   <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
     <div class="page-header">
      <div class="row">
       <div class="col-md-12 col-sm-12">
        <div class="title">
         <h4>Profile</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
           <a href="[%[=URL('index') ]]">Home</a>
          </li>
          <li aria-current="page" class="breadcrumb-item active">Profile</li>
         </ol>
        </nav>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
       <div class="pd-20 card-box height-100-p">
        <div class="profile-photo">
         <a class="edit-avatar" data-target="#modal" data-toggle="modal" href="modal">
          <i class="fa fa-pencil"></i>
         </a>
         <img alt="" class="avatar-photo" src="[%[=URL('static/tte/vendors/images/photo1.jpg') ]]"/>
         <div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modal" role="dialog" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
            <div class="modal-body pd-5">
             <div class="img-container">
              <img alt="Picture" id="image" src="[%[=URL('static/tte/vendors/images/photo2.jpg') ]]"/></div>
            </div>
            <div class="modal-footer">
             <input class="btn btn-primary" type="submit" value="Update"/>
             <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
           </div>
          </div>
         </div>
        </div>
        <h5 class="text-center h5 mb-0">Ross C. Lopez</h5>
        <p class="text-center text-muted font-14">Lorem ipsum dolor sit amet</p>
        <div class="profile-info">
         <h5 class="mb-20 h5 text-blue">Contact Information</h5>
         <ul>
          <li>
           <span>Email Address:</span>
           FerdinandMChilds@test.com
          </li>
          <li>
           <span>Phone Number:</span>
           619-229-0054
          </li>
          <li>
           <span>Country:</span>
           America
          </li>
          <li>
           <span>Address:</span>
           1807 Holden Street
           <br/>San Diego, CA 92115</li>
         </ul>
        </div>
        <div class="profile-social">
         <h5 class="mb-20 h5 text-blue">Social Links</h5>
         <ul class="clearfix">
          <li>
           <a class="btn" data-bgcolor="#3b5998" data-color="#ffffff" href="#">
            <i class="fa fa-facebook"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#1da1f2" data-color="#ffffff" href="#">
            <i class="fa fa-twitter"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#007bb5" data-color="#ffffff" href="#">
            <i class="fa fa-linkedin"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#f46f30" data-color="#ffffff" href="#">
            <i class="fa fa-instagram"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#c32361" data-color="#ffffff" href="#">
            <i class="fa fa-dribbble"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#3d464d" data-color="#ffffff" href="#">
            <i class="fa fa-dropbox"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#db4437" data-color="#ffffff" href="#">
            <i class="fa fa-google-plus"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#bd081c" data-color="#ffffff" href="#">
            <i class="fa fa-pinterest-p"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#00aff0" data-color="#ffffff" href="#">
            <i class="fa fa-skype"></i>
           </a>
          </li>
          <li>
           <a class="btn" data-bgcolor="#00b489" data-color="#ffffff" href="#">
            <i class="fa fa-vine"></i>
           </a>
          </li>
         </ul>
        </div>
        <div class="profile-skills">
         <h5 class="mb-20 h5 text-blue">Key Skills</h5>
         <h6 class="mb-5 font-14">HTML</h6>
         <div class="progress mb-20" style="height: 6px;">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 90%"></div>
         </div>
         <h6 class="mb-5 font-14">Css</h6>
         <div class="progress mb-20" style="height: 6px;">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 70%"></div>
         </div>
         <h6 class="mb-5 font-14">jQuery</h6>
         <div class="progress mb-20" style="height: 6px;">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 60%"></div>
         </div>
         <h6 class="mb-5 font-14">Bootstrap</h6>
         <div class="progress mb-20" style="height: 6px;">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 80%"></div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
       <div class="card-box height-100-p overflow-hidden">
        <div class="profile-tab height-100-p">
         <div class="tab height-100-p">
          <ul class="nav nav-tabs customtab" role="tablist">
           <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tasks" role="tab">Tasks</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#setting" role="tab">Settings</a>
           </li>
          </ul>
          <div class="tab-content">
           <!-- Timeline Tab start -->
           <div class="tab-pane fade show active" id="timeline" role="tabpanel">
            <div class="pd-20">
             <div class="profile-timeline">
              <div class="timeline-month">
               <h5>August, 2020</h5>
              </div>
              <div class="profile-timeline-list">
               <ul>
                <li>
                 <div class="date">12 Aug</div>
                 <div class="task-name">
                  <i class="ion-android-alarm-clock"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 Aug</div>
                 <div class="task-name">
                  <i class="ion-ios-chatboxes"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 Aug</div>
                 <div class="task-name">
                  <i class="ion-ios-clock"></i>
                  Event Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 Aug</div>
                 <div class="task-name">
                  <i class="ion-ios-clock"></i>
                  Event Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
               </ul>
              </div>
              <div class="timeline-month">
               <h5>July, 2020</h5>
              </div>
              <div class="profile-timeline-list">
               <ul>
                <li>
                 <div class="date">12 July</div>
                 <div class="task-name">
                  <i class="ion-android-alarm-clock"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 July</div>
                 <div class="task-name">
                  <i class="ion-ios-chatboxes"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
               </ul>
              </div>
              <div class="timeline-month">
               <h5>June, 2020</h5>
              </div>
              <div class="profile-timeline-list">
               <ul>
                <li>
                 <div class="date">12 June</div>
                 <div class="task-name">
                  <i class="ion-android-alarm-clock"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 June</div>
                 <div class="task-name">
                  <i class="ion-ios-chatboxes"></i>
                  Task Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
                <li>
                 <div class="date">10 June</div>
                 <div class="task-name">
                  <i class="ion-ios-clock"></i>
                  Event Added
                 </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <div class="task-time">09:30 am</div>
                </li>
               </ul>
              </div>
             </div>
            </div>
           </div>
           <!-- Timeline Tab End -->
           <!-- Tasks Tab start -->
           <div class="tab-pane fade" id="tasks" role="tabpanel">
            <div class="pd-20 profile-task-wrap">
             <div class="container pd-0">
              <!-- Open Task start -->
              <div class="task-title row align-items-center">
               <div class="col-md-8 col-sm-12">
                <h5>Open Tasks (4 Left)</h5>
               </div>
               <div class="col-md-4 col-sm-12 text-right">
                <a class="bg-light-blue btn text-blue weight-500" data-target="#task-add" data-toggle="modal" href="task-add">
                 <i class="ion-plus-round"></i>
                 Add
                </a>
               </div>
              </div>
              <div class="profile-task-list pb-30">
               <ul>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input class="custom-control-input" id="task-1" type="checkbox"/>
                  <label class="custom-control-label" for="task-1">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ea earum.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2019</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input class="custom-control-input" id="task-2" type="checkbox"/>
                  <label class="custom-control-label" for="task-2">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2019</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input class="custom-control-input" id="task-3" type="checkbox"/>
                  <label class="custom-control-label" for="task-3">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2019</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input class="custom-control-input" id="task-4" type="checkbox"/>
                  <label class="custom-control-label" for="task-4">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet. Id ea earum.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2019</span>
                  </div>
                 </div>
                </li>
               </ul>
              </div>
              <!-- Open Task End -->
              <!-- Close Task start -->
              <div class="task-title row align-items-center">
               <div class="col-md-12 col-sm-12">
                <h5>Closed Tasks</h5>
               </div>
              </div>
              <div class="profile-task-list close-tasks">
               <ul>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input checked="" class="custom-control-input" disabled="" id="task-close-1" type="checkbox"/>
                  <label class="custom-control-label" for="task-close-1">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ea earum.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2018</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input checked="" class="custom-control-input" disabled="" id="task-close-2" type="checkbox"/>
                  <label class="custom-control-label" for="task-close-2">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2018</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input checked="" class="custom-control-input" disabled="" id="task-close-3" type="checkbox"/>
                  <label class="custom-control-label" for="task-close-3">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2018</span>
                  </div>
                 </div>
                </li>
                <li>
                 <div class="custom-control custom-checkbox mb-5">
                  <input checked="" class="custom-control-input" disabled="" id="task-close-4" type="checkbox"/>
                  <label class="custom-control-label" for="task-close-4">
                  </label>
                 </div>
                 <div class="task-type">Email</div>
                 Lorem ipsum dolor sit amet. Id ea earum.
                 <div class="task-assign">
                  Assigned to Ferdinand M.
                  <div class="due-date">
                   due date
                   <span>22 February 2018</span>
                  </div>
                 </div>
                </li>
               </ul>
              </div>
              <!-- Close Task start -->
              <!-- add task popup start -->
              <div class="modal fade customscroll" id="task-add" role="dialog" tabindex="-1">
               <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                 <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Tasks Add</h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" data-original-title="Close Modal" data-placement="bottom" data-toggle="tooltip" title="" type="button">
                   <span aria-hidden="true"></span>
                  </button>
                 </div>
                 <div class="modal-body pd-0">
                  <div class="task-list-form">
                   <ul>
                    <li>
                     
<!-- BEGIN view: fprofile1, db_table: dfprofile1 -->
<div>
[%[= fprofile1.custom['begin'] ]]
<div class="form-group row">
 <label class="col-md-4">
  Task Type
 </label>
 <div class="col-md-8">
 [%[ fprofile1.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fprofile1.custom['widgets']['f0']['_class']= 'form-control'  ]]
 [%[ fprofile1.custom['widgets']['f0']['_placeholder']= '_p4w'  ]]
 [%[= fprofile1.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fprofile1.custom['errors']['f0'] if 'f0' in fprofile1.custom['errors'] else '' ]]</span>

 </div>
</div>

<div class="form-group row">
 <label class="col-md-4">
  Task Message
 </label>
 <div class="col-md-8">
 [%[ fprofile1.custom['widgets']['f1']['_class']= 'form-control'  ]]
 [%[ fprofile1.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[= fprofile1.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= fprofile1.custom['errors']['f1'] if 'f1' in fprofile1.custom['errors'] else '' ]]</span>

 [%[ fprofile1.custom['submit']['_class']= 'form-control mysubmit_cls'  ]]
 [%[ fprofile1.custom['submit']['_type']= 'submit'  ]]
 [%[ fprofile1.custom['submit']['_rows']= '1'  ]]
 [%[ fprofile1.custom['submit']['_placeholder']= ''  ]]
 [%[ fprofile1.custom['submit']['_value']= 'Submit'  ]]
 [%[ fprofile1.custom['submit']['_title']= 'mysubmit from last element'  ]]
 [%[= fprofile1.custom['submit'] ]]

 [%[ for hidden_widget in fprofile1.custom['hidden_widgets'].keys(): ]]
     [%[= fprofile1.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fprofile1</span></div>


[%[= fprofile1.custom['end'] ]]
</div>
<!-- END fprofile1-->

                    </li>
                    <li>
                     <a class="remove-task" data-original-title="Remove Task" data-placement="bottom" data-toggle="tooltip" href="javascript:;" title="">
                      <i class="ion-minus-circled"></i>
                     </a>
                     
<!-- BEGIN view: fprofile2, db_table: dfprofile2 -->
<div>
[%[= fprofile2.custom['begin'] ]]
<div class="form-group row">
 <label class="col-md-4">
  Task Type
 </label>
 <div class="col-md-8">
 [%[ fprofile2.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fprofile2.custom['widgets']['f0']['_class']= 'form-control'  ]]
 [%[ fprofile2.custom['widgets']['f0']['_placeholder']= '_p4w'  ]]
 [%[= fprofile2.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fprofile2.custom['errors']['f0'] if 'f0' in fprofile2.custom['errors'] else '' ]]</span>

 </div>
</div>

<div class="form-group row">
 <label class="col-md-4">
  Task Message
 </label>
 <div class="col-md-8">
 [%[ fprofile2.custom['widgets']['f1']['_class']= 'form-control'  ]]
 [%[ fprofile2.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[= fprofile2.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= fprofile2.custom['errors']['f1'] if 'f1' in fprofile2.custom['errors'] else '' ]]</span>

 [%[ fprofile2.custom['submit']['_class']= 'form-control mysubmit_cls'  ]]
 [%[ fprofile2.custom['submit']['_type']= 'submit'  ]]
 [%[ fprofile2.custom['submit']['_rows']= '1'  ]]
 [%[ fprofile2.custom['submit']['_placeholder']= ''  ]]
 [%[ fprofile2.custom['submit']['_value']= 'Submit'  ]]
 [%[ fprofile2.custom['submit']['_title']= 'mysubmit from last element'  ]]
 [%[= fprofile2.custom['submit'] ]]

 [%[ for hidden_widget in fprofile2.custom['hidden_widgets'].keys(): ]]
     [%[= fprofile2.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fprofile2</span></div>


[%[= fprofile2.custom['end'] ]]
</div>
<!-- END fprofile2-->

                    </li>
                   </ul>
                  </div>
                  <div class="add-more-task">
                   <a data-original-title="Add Task" data-placement="bottom" data-toggle="tooltip" href="#" title="">
                    <i class="ion-plus-circled"></i>
                    Add More Task
                   </a>
                  </div>
                 </div>
                 <div class="modal-footer">
                  <button class="btn btn-primary" type="button">Add</button>
                  <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                 </div>
                </div>
               </div>
              </div>
              <!-- add task popup End -->
             </div>
            </div>
           </div>
           <!-- Tasks Tab End -->
           <!-- Setting Tab start -->
           <div class="tab-pane fade height-100-p" id="setting" role="tabpanel">
            <div class="profile-setting">
             
<!-- BEGIN view: fprofile3, db_table: dfprofile3 -->
<div>
[%[= fprofile3.custom['begin'] ]]
<ul class="profile-edit-list row">
 <li class="weight-500 col-md-6">
  <h4 class="text-blue h5 mb-20">
   Edit Your Personal Setting
  </h4>
  <div class="form-group">
   <label>
    Full Name
   </label>
 [%[ fprofile3.custom['widgets']['f0']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f0']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f0'] if 'f0' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Title
   </label>
 [%[ fprofile3.custom['widgets']['f1']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f1']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f1'] if 'f1' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Email
   </label>
 [%[ fprofile3.custom['widgets']['f2']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f2']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f2']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f2'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f2'] if 'f2' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Date of birth
   </label>
 [%[ fprofile3.custom['widgets']['f3']['_class']= 'form-control form-control-lg date-picker'  ]]
 [%[ fprofile3.custom['widgets']['f3']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f3']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f3'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f3'] if 'f3' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Gender
   </label>
   <div class="d-flex">
    <div class="custom-control custom-radio mb-5 mr-20">
 [%[ fprofile3.custom['widgets']['f4']['_type']= 'radio'  ]]
 [%[ fprofile3.custom['widgets']['f4']['_id']= 'customRadio4'  ]]
 [%[ fprofile3.custom['widgets']['f4']['_class']= 'custom-control-input'  ]]
 [%[ fprofile3.custom['widgets']['f4']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f4'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f4'] if 'f4' in fprofile3.custom['errors'] else '' ]]</span>

     <label class="custom-control-label weight-400" for="customRadio4">
      Male
     </label>
    </div>
    <div class="custom-control custom-radio mb-5">
 [%[ fprofile3.custom['widgets']['f5']['_type']= 'radio'  ]]
 [%[ fprofile3.custom['widgets']['f5']['_id']= 'customRadio5'  ]]
 [%[ fprofile3.custom['widgets']['f5']['_class']= 'custom-control-input'  ]]
 [%[ fprofile3.custom['widgets']['f5']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f5'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f5'] if 'f5' in fprofile3.custom['errors'] else '' ]]</span>

     <label class="custom-control-label weight-400" for="customRadio5">
      Female
     </label>
    </div>
   </div>
  </div>
  <div class="form-group">
   <label>
    Country
   </label>
 [%[ fprofile3.custom['widgets']['f6']['_class']= 'selectpicker form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f6']['_data-style']= 'btn-outline-secondary btn-lg'  ]]
 [%[ fprofile3.custom['widgets']['f6']['_title']= 'Not Chosen'  ]]
 [%[ fprofile3.custom['widgets']['f6']['_placeholder']= 'it was select'  ]]
 [%[ fprofile3.custom['widgets']['f6']['_style']= 'color:red;'  ]]
 [%[= fprofile3.custom['widgets']['f6'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f6'] if 'f6' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    State/Province/Region
   </label>
 [%[ fprofile3.custom['widgets']['f7']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f7']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f7']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f7'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f7'] if 'f7' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Postal Code
   </label>
 [%[ fprofile3.custom['widgets']['f8']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f8']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f8']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f8'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f8'] if 'f8' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Phone Number
   </label>
 [%[ fprofile3.custom['widgets']['f9']['_class']= 'form-control form-control-lg'  ]]
 [%[ fprofile3.custom['widgets']['f9']['_type']= 'text'  ]]
 [%[ fprofile3.custom['widgets']['f9']['_placeholder']= '_p4w'  ]]
 [%[= fprofile3.custom['widgets']['f9'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f9'] if 'f9' in fprofile3.custom['errors'] else '' ]]</span>

  </div>
  <div class="form-group">
   <label>
    Address
   </label>
 [%[ fprofile3.custom['widgets']['f10']['_class']= 'form-control'  ]]
 [%[ fprofile3.custom['widgets']['f10']['_type']= 'text'  ]]
 [%[= fprofile3.custom['widgets']['f10'] ]]

 <span style="color:#ff0000">[%[= fprofile3.custom['errors']['f10'] if 'f10' in fprofile3.custom['errors'] else '' ]]</span>

 [%[ fprofile3.custom['submit']['_class']= 'form-control mysubmit_cls'  ]]
 [%[ fprofile3.custom['submit']['_type']= 'submit'  ]]
 [%[ fprofile3.custom['submit']['_rows']= '1'  ]]
 [%[ fprofile3.custom['submit']['_placeholder']= ''  ]]
 [%[ fprofile3.custom['submit']['_value']= 'Submit'  ]]
 [%[ fprofile3.custom['submit']['_title']= 'mysubmit from last element'  ]]
 [%[= fprofile3.custom['submit'] ]]

 [%[ for hidden_widget in fprofile3.custom['hidden_widgets'].keys(): ]]
     [%[= fprofile3.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fprofile3</span></div>


[%[= fprofile3.custom['end'] ]]
</div>
<!-- END fprofile3-->

            </div>
           </div>
           <!-- Setting Tab End -->
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
     DeskApp - Bootstrap 4 Admin Template By
     <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>
   </div>
  </div>
  <!-- js -->
  <script src="[%[=URL('static/tte/vendors/scripts/core.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendors/scripts/script.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendors/scripts/process.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendors/scripts/layout-settings.js') ]]"></script>
  <script src="[%[=URL('static/tte/src/plugins/cropperjs/dist/cropper.js') ]]"></script>
  <script>
   window.addEventListener('DOMContentLoaded', function() {
    var image = document.getElementById('image');
    var cropBoxData;
    var canvasData;
    var cropper;

    $('#modal').on('shown.bs.modal', function() {
        cropper = new Cropper(image, {
            autoCropArea: 0.5,
            dragMode: 'move',
            aspectRatio: 3 / 3,
            restore: false,
            guides: false,
            center: false,
            highlight: false,
            cropBoxMovable: false,
            cropBoxResizable: false,
            toggleDragModeOnDblclick: false,
            ready: function() {
                cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
            }
        });
    }).on('hidden.bs.modal', function() {
        cropBoxData = cropper.getCropBoxData();
        canvasData = cropper.getCanvasData();
        cropper.destroy();
    });
});
  </script>
  
<!-- forms ajax -->
<script>
    const forms_url = [%[ =XML( page_url ) ]];

    for(let i = 0; i < document.forms.length; i++){

        document.forms[i].onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch(forms_url, 
                 { method: 'POST', 
                   body: new FormData( document.forms[i] ) 
                 });

            let result = await response.json();
            swal({
                  type: (result.messages.startsWith('error') ? "error" : "info") ,
                  title: result.messages,
                  animation : false,
                  timer: 3000,
                  text: '3 sec & will hide',
                  showCancelButton: false,
                  showConfirmButton: false
                 });
        };
    }
</script>

 <!-- rm_flashdiv -->
<script>
     !function() { 
         const elems = document.querySelectorAll('.flashdiv');
         for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
     }();
</script>

</body>
</html>