@mixin font-size($size: 14) {
	font-size: $size + px;
	font-size: ($size / $root-font-size) + rem;
}

@mixin line-height($size: 14) {
	line-height: $size + px;
	line-height: ($size / $root-font-size) + rem;
}

@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}
}