<html>
  <head>
    <base href="[[=URL('static')]]/">
    <link rel="stylesheet" type="text/css" href="css/future.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <body>    
    <div>
      <div class="panel">   
        <label>
          App: [[=app]]
          Database: [[=dbname]]
          Table: [[=tablename]]
        </label>
      </div>
      <div style="padding: 10px" class="my-effects">
        [[if error:]]
        <div>
          <p class="error">Query Error: [[=error]]</p>
        </div>
        [[pass]]
	<div style="width:100%; overflow-x: auto">
	  [[=grid.render()]]
	</div>
      </div>
    </div>
  </body>
  <script src="js/utils.js"></script>
  <script>T.languages = [[=languages]];</script>
</html>
