<html>
  <head>
    <base href="[[=URL('static')]]/">
    <link rel="stylesheet" type="text/css" href="css/future.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <body>    
    <div id="vue" class="my-effects">
      <!--div class="loading" v-if="loading>0"></div-->
      <div class="panel">   
        <label>
          App: {{app}}
          Database: {{dbname}}
          Table: {{tablename}}
        </label>
      </div>      
      <div class="panel">
        <mtable :url="url" :filter="filter" :order="order" :editable="true" :create="true" :deletable="true" :render="{}"></mtable>
      </div>
    </div>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/utils.js"></script>
  <script src="components/mtable.js"></script>
  <script>T.languages = [[=languages]];</script>
  <script src="js/dbadmin.js"></script>
</html>
