<html>
  <head>
    <base href="[[=URL('static')]]/">
    <style>
      * {margin: 0;}
      html {background: white; color: black; font-family: "Courier"; font-size: 10px}}
      a { color: orange; font-weight: bold}
      td {padding: 5px 10px; color: orange}
      td.linelength { padding: 5px 10px; color: #f1f1f1; font-weight: bold}
      #branch_text {  color: #21aadb; font-weight: bold}
      button.clicked {background: #00d1b2;}
      .commits {
        position:fixed; top:0; bottom: 0; left:0; z-index:100;
        width:10px; background: #111111; color: orange; overflow: hidden
      }
      .commits:hover { width: 500px; overflow: auto; }
      .kryten {margin:3%; width:94%; height:94vh; border:0}
      iframe {width:100%; height:100vh; border:0}
    </style>
  </head>
  <body>
    <div class="commits">
      <form method="POST" id="my_form" action="[[=URL('swapbranch', project)]]"></form>
      <table>
        <tr>
          <td class="linelength">
            Show Full File?
          </td>
          <td>
            <input type="checkbox" id="showFull" checked>
          </td>
        </tr>
        <tr>
          <td class="linelength" id="branch_text">
            Current Branch: [[ =branches.get("current")[:20] ]]
          </td>
          <td>
              <select name="branches" id="branches" form="my_form">
                <option value="[[=branches.get('current')]]">
                  [[ =branches.get("current")[:10] ]]
                </option>
                [[for branch in branches.get("other"):]]
                <option value="[[=branch]]">
                  [[=branch[:10] ]]
                </option>
                [[pass]]
              </select>
          </td>
          <td>
            <input type="submit" value="Go" form="my_form">
          </td>
        </tr>
        <tr height=20px></tr>

        [[for commit in commits:]]
        <tr>
          <td>
            [[=commit.get('message')[:60] ]]
          </td>
          <td>
            [[=checkout.button('Checkout')(project=project, commit=commit['code'])]]
          </td>
          <td>
            <button class="gitshow" id="[[=commit.get('code')[:20] ]]" data-src="[[=URL('gitshow',project,commit['code'])]]">
              Show
            </button>
          <td>
        </tr>
        [[pass]]
      </table>
    </div>
    <div class="kryten">
      Welcome to Kryten!
      This is an exprimental features of py4web designed for teaching/presentations.
      If you mouseover to the left you will be able to see git commits for the project.
      You will be able to checkout and/or see a commit diff.
      The diff is displayed in an interactive manner.
      Use the following keys to step through a single commit diff:
      <ul>
        <li>v (&lt;&lt;)</li>
        <li>b (&lt;)</li>
        <li>n (&gt;)</li>
        <li>m (&gt;&gt;)</li>
      </ul>
    </div>
    <script>
      $('.gitshow').click(function(){
        checkFull($(this).attr('id'));
        $('.kryten').html('<iframe src="'+$(this).attr('data-src')+'"></iframe>');
      });
    </script>


    <!-- A script to allow for selecting between two attributes based on checkbox -->
    <script>
      function checkFull(id) {

        // Gets the data-src attribute in the gitshow button and the value of the checkbox
        let str = $( "#" + id ).attr( "data-src");
        let checked = $("#showFull").prop("checked");

        // If we want the full file to be shown
        // first check if the showfull variable is false and set it to true
        if(checked) {
          if(str.includes("?showfull=true")) return;
          if(str.includes("?showfull=false")) {
            $( "#" + id ).attr( "data-src", str.replace("?showfull=false", "?showfull=true"));
          }
        }


        // If we DON'T want the full file to be shown
        // first check if the ?showfull variable is true and set it to false
        else {
          if(str.includes("?showfull=false")) return;
          if(str.includes("?showfull=true")) {
            $( "#" + id ).attr( "data-src", str.replace("?showfull=true", "?showfull=false"));
          }
        }

        // If ?showfull isn't in the URL at all, add it based on
        // the checkbox status
        if(!str.includes("?showfull=")) {
            $( "#" + id ).attr( "data-src", function( i, val ) {
              return val + (checked ? "?showfull=true" : "?showfull=false");
            });
          }
          console.log($( "#" + id ).attr( "data-src"));
      }
    </script>
    <script>
       $("#branches").click(function(){
          var conceptName = $('#branches').val();
          $('#branch_text').text("Selected Branch: " + conceptName);
        });
    </script>


  </body>
</html>
