<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="themes/Modern/favicon.ico" />    <link rel="stylesheet" href="css/base.css">    <link rel="stylesheet" href="css/no.css">
    <link id="dashboard-theme" rel="stylesheet" href="themes/[[= selected_theme or 'Modern' ]]/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="js/theme-selector.js"></script>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <div id="activity-bar"></div>
    <header>
      <!-- Navigation bar -->
      <nav class="black dashboard-top-nav">
        <ul class="dashboard-top-nav-list">
          <li class="dashboard-top-nav-item">
            <a href="[[=URL('index')]]">Dashboard</a> / dbadmin
          </li>
        </ul>
        <div class="dashboard-top-nav-actions">
          <a href="[[=URL('settings')]]" class="dashboard-button-link"><button>Settings</button></a>
        </div>
      </nav>
    </header>
    <!-- beginning of HTML inserted by extending template -->
    <center>
      <div>
        <!-- Flash alert messages, first optional one in data-alert -->
        <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
      </div>
      <main class="padded">
        <!-- contect injected by extending page -->
        [[include]]
      </main>
    </center>
    <!-- end of HTML inserted by extending template -->
    <footer class="black padded dashboard-footer-bar">
      <p>
        Part of <a href="https://py4web.com">py4web</a>
      </p>
      <a href="[[=URL('index')]]" class="dashboard-button-link dashboard-button-link-spaced"><button>Back</button></a>
    </footer>
  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
