<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 26.11.2020 10:31:08 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>biorex title text</title>
  <!-- Bootstrap core CSS-->
  <link href="[%[=URL('static/tte/vendor/bootstrap/css/bootstrap.min.css') ]]" rel="stylesheet"/>
  <!-- Custom fonts for this template-->
  <link href="[%[=URL('static/tte/vendor/fontawesome-free/css/all.min.css') ]]" rel="stylesheet" type="text/css"/>
  <!-- Page level plugin CSS-->
  <link href="[%[=URL('static/tte/vendor/datatables/dataTables.bootstrap4.css') ]]" rel="stylesheet"/>
  <!-- Custom styles for this template-->
  <link href="[%[=URL('static/tte/css/sb-admin.css') ]]" rel="stylesheet"/>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js" async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body id="page-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
   <a class="navbar-brand mr-1" href="[%[=URL('index') ]]">Start Bootstrap</a>
   <button class="btn btn-link btn-sm text-white order-1 order-sm-0" href="#" id="sidebarToggle">
    <i class="fas fa-bars"></i>
   </button>
   <!-- Navbar Search -->
   
<!-- view: ftables0, db_table: dftables0 -->
<div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"  style="border: 1px gray dashed;">
[%[= ftables0.custom['begin'] ]]
<div class="input-group">
 [%[ ftables0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ ftables0.custom['widgets']['f0']['_class']= 'form-control'  ]]
 [%[ ftables0.custom['widgets']['f0']['_placeholder']= 'Search for...:p4w'  ]]
 [%[ ftables0.custom['widgets']['f0']['_aria-label']= 'Search'  ]]
 [%[ ftables0.custom['widgets']['f0']['_aria-describedby']= 'basic-addon2'  ]]
 [%[= ftables0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= ftables0.custom['errors']['f0'] if 'f0' in ftables0.custom['errors'] else '' ]]</span>

 <div class="input-group-append">
 [%[ ftables0.custom['submit']['_class']= 'btn btn-primary'  ]]
 [%[ ftables0.custom['submit']['_type']= 'submit'  ]]
 [%[ ftables0.custom['submit']['_title']= 'mysubmit from <button'  ]]
 [%[ ftables0.custom['submit']['_value']= 'Submit'  ]]
 [%[ ftables0.custom['submit']['_style']= 'border:2px dashed red; text-decoration: underline;'  ]]
 [%[= ftables0.custom['submit'] ]]

 </div>
</div>

 [%[ for hidden_widget in ftables0.custom['hidden_widgets'].keys(): ]]
     [%[= ftables0.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

[%[= ftables0.custom['end'] ]]
  
<div  class='divftables0' style="text-align: center; position:absolute;">
  <div style="position:relative; z-index:100; display:inline-block; background-color:#F0FFF0; color:black; border:2px dashed red; padding: 0.2em 1em 0.2em 1em;">ftables0</div>
</div>
<script>
  !function() { const elems = document.querySelectorAll('.divftables0');
      for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
  }();
</script>

</div>
<!-- end ftables0 -->

   <!-- Navbar -->
   <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
     <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="alertsDropdown" role="button">
      <i class="fas fa-bell fa-fw"></i>
      <span class="badge badge-danger">9+</span>
     </a>
     <div aria-labelledby="alertsDropdown" class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
     </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
     <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="messagesDropdown" role="button">
      <i class="fas fa-envelope fa-fw"></i>
      <span class="badge badge-danger">7</span>
     </a>
     <div aria-labelledby="messagesDropdown" class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
     </div>
    </li>
    <li class="nav-item dropdown no-arrow">
     <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown" role="button">
      <i class="fas fa-user-circle fa-fw"></i>
     </a>
     <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Settings</a>
      <a class="dropdown-item" href="#">Activity Log</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">Logout</a>
     </div>
    </li>
   </ul>
  </nav>
  <div id="wrapper">
   <!-- Sidebar -->
   <ul class="sidebar navbar-nav">
    <li class="nav-item">
     <a class="nav-link" href="[%[=URL('index') ]]">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
     </a>
    </li>
    <li class="nav-item dropdown">
     <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="pagesDropdown" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
     </a>
     <div aria-labelledby="pagesDropdown" class="dropdown-menu">
      <h6 class="dropdown-header">Login Screens:</h6>
      <a class="dropdown-item" href="[%[=URL('login') ]]">Login</a>
      <a class="dropdown-item" href="[%[=URL('register') ]]">Register</a>
      <a class="dropdown-item" href="[%[=URL('forgotXpassword') ]]">Forgot Password</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Other Pages:</h6>
      <a class="dropdown-item" href="[%[=URL('X404') ]]">404 Page</a>
      <a class="dropdown-item" href="[%[=URL('blank') ]]">Blank Page</a>
     </div>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="[%[=URL('charts') ]]">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span>
     </a>
    </li>
    <li class="nav-item active">
     <a class="nav-link" href="[%[=URL('tables') ]]">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span>
     </a>
    </li>
   </ul>
   <div id="content-wrapper">
    <div class="container-fluid">
     <!-- Breadcrumbs-->
     <ol class="breadcrumb">
      <li class="breadcrumb-item">
       <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tables</li>
     </ol>
     <!-- DataTables Example -->
     <div class="card mb-3">
      <div class="card-header">
       <i class="fas fa-table"></i>
       Data Table Example
      </div>
      <div class="card-body">
       <div class="table-responsive">
        
<!--view: rows_ttables0, db_table: ttables0 -->
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>
  <tbody>
        [%[ for row0 in rows_ttables0: ]]
        <tr>
            <td>[%[= XML(row0.f0) ]]</td>
            <td>[%[= XML(row0.f1) ]]</td>
            <td>[%[= XML(row0.f2) ]]</td>
            <td>[%[= XML(row0.f3) ]]</td>
            <td>[%[= XML(row0.f4) ]]</td>
            <td>[%[= XML(row0.f5) ]]</td>
        </tr>
        [%[pass ]]
  </tbody>
    <tfoot>
      <tr>
        <td>Name</td>
        <td>Position</td>
        <td>Office</td>
        <td>Age</td>
        <td>Start date</td>
        <td>Salary</td>
      </tr>
    </tfoot>
</table>
<!-- end rows_ttables0 -->


<div  class='divttables0' style="text-align: center; position:absolute;">
  <div style="position:relative; z-index:100; display:inline-block; background-color:#F0FFF0; color:black; border:2px dashed red; padding: 0.2em 1em 0.2em 1em;">ttables0</div>
</div>
<script>
  !function() { const elems = document.querySelectorAll('.divttables0');
      for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
  }();
</script>

       </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
     </div>
     <p class="small text-center text-muted my-5">
      <em>More table examples coming soon...</em>
     </p>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
     <div class="container my-auto">
      <div class="copyright text-center my-auto">
       <span>
        Copyright © Your Website 2018
       </span>
      </div>
     </div>
    </footer>
   </div>
   <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog" tabindex="-1">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true"></span>
      </button>
     </div>
     <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
     <div class="modal-footer">
      <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
      <a class="btn btn-primary" href="[%[=URL('login') ]]">Logout</a>
     </div>
    </div>
   </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="[%[=URL('static/tte/vendor/jquery/jquery.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap/js/bootstrap.bundle.min.js') ]]"></script>
  <!-- Core plugin JavaScript-->
  <script src="[%[=URL('static/tte/vendor/jquery-easing/jquery.easing.min.js') ]]"></script>
  <!-- Page level plugin JavaScript-->
  <script src="[%[=URL('static/tte/vendor/datatables/jquery.dataTables.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/datatables/dataTables.bootstrap4.js') ]]"></script>
  <!-- Custom scripts for all pages-->
  <script src="[%[=URL('static/tte/js/sb-admin.min.js') ]]"></script>
  <!-- Demo scripts for this page-->
  <script src="[%[=URL('static/tte/js/demo/datatables-demo.js') ]]"></script>
  
<!-- myadd -->
<script>
  const forms_url = [%[ =XML( page_url ) ]];

  for(let i = 0; i < document.forms.length; i++){

        document.forms[i].onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch(forms_url, { method: 'POST', body: new FormData( document.forms[i] ) });

            let result = await response.json();
            swal({
                  type: (result.messages.startsWith('error') ? "error" : "info") ,
                  title: result.messages,
                  animation : false,
                  timer: 3000,
                  text: 'will hide in 3sec',
                  showCancelButton: false,
                  showConfirmButton: false
                 });
        };
  }
</script>


 </body>
</html>
