* {
   border: 0;
   margin: 0;
   padding: 0;   
}
html {
   background: black;
   color: #33BFFF;
   font-size: 14px;
   font-family: 'Cousine', monospace, Courier;
}
p {
   margin-bottom: 10px;
}
.logo {
   padding: 10px;
   font-size: 80px;
}
.spinner-top {
   float: right;
   height: 80px;
   padding-top: 10px;
   margin-right: 80px;
}
.ace-pastel-on-dark {
    background-color: black !important;
}
iframe {
   width: 100%;
   height: 90vh;
   background-color: white;
}
table {
   width: 100%;
}
td, th { 
   text-align: left;
   vertical-align: top;
   padding: 2px 5px;
}
tbody {
   border-bottom: 1px solid #33BFFF;
}
button {
   background-color: black;
   color: #33BFFF;
   border: 2px solid #33BFFF;
   height: 20px;
   border-radius: 10px;
   padding: 2px 20px;
   margin-right:5px;
   margin-bottom:5px;
}
.my-effects a, .my-effects a:hover, .my-effects a:visited { color: #90b9b7; text-decoration:none }
.my-effects a:not(.btn) {position:relative}
.my-effects a:not(.btn):hover {color:#90b9b7}
.my-effects a:not(.btn):hover:after {width:100%}
.my-effects a:not(.btn):after {
  display:block;
  position:absolute;
  left:0;
  bottom:-1px;
  width:0;
  height:2px;
  background-color:#90b9b7;
  content:"";
  transition:width 0.2s;
}
.panel {
   background: transparent;
   text-align: left;
   vertical-align: top;
   border: 0;
   padding: 0;
   margin: 5px 15px 5px 5px;
   padding: 30px 5px 2px 5px;
   position: relative;
   border: 1px solid #33BFFF;
   border-top-left-radius: 5px;
   text-overflow: ellipsis;
}
#target .panel > label {
   min-width: 40vw;
   white-space: nowrap;
   font-family: courier;
   font-size: 24px;
   font-weight: normal;
   background: #33BFFF;
   color: black;
   padding: 2px;   
   border-top-left-radius: 4px;
   border-bottom-right-radius: 5px;
   opacity: 0.9;
   position: absolute;
   top: 0;
   left: 0;
}
input[type=text] {
   background-color: black;
   border-bottom: 2px solid #33BFFF;
   font-size: 24px;
   color: #33BFFF;
   font-family: 'Cousine', monospace, Courier;
}
input[type=text]:focus {
   border: 0;
}
label {
   font-weight: bold;
}
.subfolder {
   margin-left: 20px !important;
   padding-top: 0 !important;
}
.preview {
   max-width: 400px;
}
.my-effects .accordion>label{cursor:pointer}
.my-effects .accordion>input ~ label:before {content:"- ";}
.my-effects .accordion>input:checked ~ label:before {content:"+ ";}
.my-effects .accordion>input {display:none}
.my-effects .accordion>input:checked ~ *:not(label) {
  padding-top: 10px;
  max-height: 1000px !important;
  overflow:hidden !important;
  -webkit-transition: max-height .3s ease-in;
  transition: max-height .3s ease-in;
}
.my-effects .accordion>*:not(label) {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
}
.modal {
  position: fixed;
  top: 20vh;
  left: 20vw;
  right: 20vw;
  border: 5px solid #33BFFF;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.9);
}

.modal img {
  margin-right: 20px;
}
.error {
  color: rgba(255,0,0,0.9);
  text-shadow: 0 0 10px rgba(255,255,255,0.9) , 0 0 20px rgba(255,255,255,0.9) , 0 0 30px rgba(255,255,255,0.9) , 0 0 40px #ff0000 , 0 0 70px #ff0000 , 0 0 80px #ff0000 , 0 0 100px #ff0000 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0, 0.9);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0, 0.9);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0, 0.9);
  transition: all 200ms cubic-bezier(0.42, 0, 0, 0.9);
}
.loading {
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 100vh;
  background-color: black;
  background-image: url(../images/widget.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#editor {width:100%; height:100vh;}
